[2015-07-01 19:56] felipecsl opened #6 "Support multiple schemes"
Modify `@DeepLink` and `@DeepLinks` to also require the `scheme://` in the URI definition, so we can suport more than one scheme in `DeepLinkActivity`.

[2015-07-01 19:58] MichaelEvans opened #7 "Introduce a way to determine which path was used when multiple paths are used with @DeepLinks()"
Right now if you use something like `@DeepLinks({"example.com/deepLink/{id}", "example.com/anotherDeepLink"})`, you can determine which link was used by the presence of `id`. But if you did something like `@DeepLinks({"example.com/deepLink", "example.com/anotherDeepLink"})`, you'd have no mechanism to determine which path was used to get here.

[2015-07-01 20:03] felipecsl commented on #7
it looks like one possible solution would be to expose in the intent extas the original URI string used for matching, eg.: `"example.com/deepLink/{id}"` or `"example.com/anotherDeepLink"` in this case.

[2015-07-01 20:07] felipecsl opened #8 "Generate a class that includes all the Activity's deep link params"
Right now you have to extract deep link parameters from the Intent extras, which is still pretty error prone since there is no compile time validation. We could leverage our annotation processor here to generate a class that contains all the Activity's deep link parameters, say `FooActivity_DeepLink` where you'd retrieve all the information from methods in this activity.

[2015-07-02 13:40] andrewlord1990 commented on #6
Seems like the scheme could be optional in the URI definition, then if you only use one scheme you don't need to specify it everywhere.

[2015-07-02 18:16] felipecsl commented on #6
I think it's confusing to have it only sometimes require the scheme. It sounds like we should always enforce it for consistency.

[2015-07-03 06:56] andrewlord1990 commented on #6
That's a fair point. I was just thinking of when we recently switched our links from HTTP to HTTPS and only had to change it in the AndroidManifest, due to us having a different Deep linking activity (before using this library) for each scheme. I was thinking of this situation. However, it isn't really a common enough situation to worry about.

To be able to use the library, we will need multiple

[2015-07-05 21:00] hishamBakr opened #12 "Error:(42, 0) Gradle DSL method not found: 'apt()'"
Dear,
     when I add
compile 'com.airbnb:deeplinkdispatch:1.1.0'
    apt 'com.airbnb:deeplinkdispatch-processor:1.1.0'

to gradle file, I face this error:
Error:(42, 0) Gradle DSL method not found: 'apt()'

I use gradle:
   classpath 'com.android.tools.build:gradle:1.2.3'

Please advise.

[2015-07-05 22:29] hishamBakr commented on #12
After investigation, I fixed the issue by adding
 classpath 'com.neenbedankt.gradle.plugins:android-apt:1.4'

this was not mentioned in instalation guide

[2015-07-05 22:29] #12 closed

[2015-07-06 05:27] felipecsl commented on #12
good point, we should add this to the readme. thanks!

[2015-07-06 13:01] Javernaut opened #14 "Parameters can't have '_' and '-' symbols, but should"
I was about to use your library in my project, but it didn't recognize my url. As was found out, the regexp for parameters is too restrictive, as it forbids _ and - symbols.

My target url was like this:
someschema://somepath/an-identifier-with-dashes

Please, add this functionality.

[2015-07-06 17:32] MichaelEvans commented on #14
@felipecsl @cdeonier is there any reason that the param value regex is so restrictive? I would like to use hyphenated slugs in my paths as well. (I can put up a PR with a test if there's no real reason)

[2015-07-06 17:44] cdeonier commented on #14
@Javernaut @MichaelEvans Just an oversight. We should allow those symbols in the parameter. I'll go ahead and add this in.

[2015-07-06 17:45] cdeonier commented on #14
Oh, you've got it up already, great. I'll review that.

[2015-07-06 17:50] #14 closed

[2015-07-06 20:49] #7 closed

[2015-07-07 01:11] felipecsl opened #18 "Move parameter parsing to compile time"
We could move the regex code that extracts parameters from the URI into compile time by baking that into the processor

[2015-07-07 22:31] #6 closed

[2015-07-08 16:33] mbarany opened #23 "Consider making the Callbacks more loosely coupled"
Right now the only way to take advantage of the Callbacks is to implement the interface in your Application. Consider instead using an Intent with a specific signature that could be implemented in a Broadcast Receiver.

[2015-07-08 16:41] felipecsl commented on #23
That's a great point and is something we've talked about in the past. We definitely want to improve it. An intent could be a good idea. Thanks for your input!

[2015-07-08 20:05] athornz opened #24 "DeepLinkActivity not generated"
I'm having some issues implementing this in my build. I've one successful build where DeepLinkActivity was generated, but most of the time it is not getting generated.

I have a few other apt libraries in my build so I wonder if that is causing conflicts?

Is there a way I can debug why DeepLinkActivity is not getting generated?

[2015-07-08 20:08] felipecsl commented on #24
I've seen issues associated with the gradle daemon causing problems to annotation processing, so if it's failing I'd recommend stopping it `./gradlew --stop` and doing a clean build ``./gradlew clean assemble`.
This fixes problems for me 100% of the time. If this still doesn't work for you, please paste your stack trace here with the exact exception.

[2015-07-12 01:09] cdeonier commented on #23
Your idea sounds a lot cleaner, so we added this enhancement.

[2015-07-12 01:09] #23 closed

[2015-07-13 17:38] Denvar commented on #24
I'm having this issue when using multiple DeepLinks into a single Activity.
Compiling & Running works fine with either of these two DeepLiinks on their own, just not when combined.

AndroidManfiest.xml
[code]

MyActivity.java
[code]

Exception
[code]

[2015-07-14 16:11] joluet opened #28 "@DeepLinks stopped working"
I discovered an issue with the `@DeepLinks` annotation in version 1.2.0. When using a single link with `@DeepLink` it works fine but as soon as I use `@DeepLinks` with multiple URIs it stops working and the `DeepLinkLoader.java` class is not generated anymore. Also, calling `./gradlew --stop` and doing a clean build doesn't fix it.

[2015-07-14 17:05] Denvar commented on #28
I mention this issue on this comment on a closed ticket
https://github.com/airbnb/DeepLinkDispatch/issues/24#issuecomment-121001662

[2015-07-14 17:08] felipecsl commented on #28
I'm closing this one and reopening the other one since that has code snippets

[2015-07-14 17:08] #28 closed

[2015-07-14 20:53] #24 closed

[2015-07-16 14:34] PattaFeuFeu commented on #24
Unfortunately, I still have the same problem: (package/app name changed)

[code]
I did what is described in *Usage* and added a `@DeepLinks` annotation to one of my activities. The  activity part in the AndroidManifest has DeepLinkActivity shown in red as the symbol could not be resolved (which fits with the exception being thrown).

I tried what you suggested (gradlew --stop, gradlew clean assemb

[2015-07-16 14:39] Denvar commented on #24
@PattaFeuFeu be sure you're using 1.3.0-SNAPSHOT as a new release hasn't been made with the fix.
Note I'm still having an issue with this (need to do more testing) but the latest SNAPSHOT release does fix the ClassNotFoundException for me.

[2015-07-16 18:30] felipecsl commented on #24
@Denvar is right. This fix is only included in the latest snapshot release (1.3.0-SNAPSHOT) for now

[2015-07-19 12:07] tasomaniac opened #31 "Auto AndroidManifest entry"
Why do we have to enter the Manifest Activity manually? Can't you just make it happen within the library thanks to Manifest merger.

[2015-07-19 23:20] felipecsl commented on #31
As far as I know, it is not possible to dynamically generate an android manifest file to be picked up by the manifest merger. This is something we've been discussing ideas on how to solve but I can't think of a way to do it automatically right now. If you have any pointers or know how, please feel free to submit a pull request or provide more infos

[2015-07-21 07:18] bakua opened #32 "How to use @DeepLink only with scheme specified (or maybe to specify default activity)"
Hello, thank you for this library. I'd like to ask if it is possible to use it with scheme only. What I am trying to achieve is to catch everything that is myscheme:// and point it to my MainActivity. But since URL specified with annotation requires some host, it is not possible.

My question is, is there any way how to do @DeepLink("myscheme://")?

Thank you

[2015-07-21 20:49] felipecsl commented on #32
This is not currently possible and since you don't have any type of compicated parameters or different URIs for different activities, you might be better off just using a plain `intent-filter` and not using this lib at all.

[2015-07-21 20:49] #32 closed

[2015-07-22 07:06] bakua commented on #32
Thanks for response. I don't have any complicated parameters at the moment, but i will. I guess I'll watch for 	onError(DeepLinkError error) and just launch MainActivity there.

[2015-07-24 00:27] MichaelEvans commented on #31
@tasomaniac It's not possible to do for one reason - there's no way to dynamically generate the intent-filter with the data attribute you need. (Otherwise, yes, this would be possible). You can use an activity tag with `node:tools="replace"` in your manifest to add the data attribute yourself, but at that point, are you really saving any headache?

[2015-07-24 15:35] chemouna opened #34 "Urls with spaces aren't matched"
with a url that contains spaces for example that are replaced with "%20"  doesn't get matched :
for example with a url `http://www.example.com/action/search%20paris%20France%2092130"` and with an annotation on an Activity like : `@DeepLinks({"http://www.example.com/action/{searchAddress}"})`
no match is found and `DeepLinkEntry entry = registry.parseUri(uriString);` in DeepLinkActivity always retu

[2015-07-28 05:38] #34 closed

[2015-07-29 09:07] chemouna commented on #34
Thanks a lot for the fix

[2015-07-30 19:36] alorma commented on #24
I tried to use

[code]

With no luck

[2015-08-03 14:58] chemouna opened #37 "Urls with # as an action are not matched"
I have a case with this url : "http://www.example.com/#/{query}" but its not matched, i looked at the code and it's because encodedPath()  in DeepLinkUri that looks for queries after ? or # .
    ```int pathEnd = delimiterOffset(url, pathStart, url.length(), "?#");```

Here's a failing test case for it :
[code]
is there a way to have  an escape character or something for such a case ?

Thank you.

[2015-08-03 22:12] somghosh opened #38 "Deeplinkdispatch with Android Annotations - error creating file"
I have a 1 activity project, with Android Annotations (using @EActivity to refer to the activity layout) and I am using DeeplinkDispatch on top of it

Seems like both annotations library don't go so well. If I remove either package, the app runs, but not with both

## Only activity class

	package com.example.android.deeplinktest;

	import android.support.v7.app.AppCompatActivity;
	import android.

[2015-08-04 18:45] felipecsl commented on #38
looks like we're getting an `IOException` when trying to generate `DeepLinkLoader or DeepLinkActivity`. I'll dig into this

[2015-08-04 19:56] felipecsl commented on #38
There's something about this androidannotations library that fails compilation when used with DeepLinkDispatch and I can't easily figure out what it is.
We've been using DeepLinkDispatch in production alongside with many other libraries that do annotation processing (like Dagger, AutoParcel and IcePick, for example) with no problems.
I'm gonna go ahead and close this issue as I don't think there's

[2015-08-04 19:56] #38 closed

[2015-08-04 20:13] felipecsl commented on #37
According to the [URL spec](https://url.spec.whatwg.org/#non_relative-path-state), `#` delimits the start of the fragment, so it is not part of the path. Right now we only support interpolating parameters in the URL host and path.

[2015-08-05 09:36] dodgex commented on #38
@felipecsl the error itself comes from [DeepLinkProcessor](https://github.com/airbnb/DeepLinkDispatch/blob/master/deeplinkdispatch-processor/src/main/java/com/airbnb/deeplinkdispatch/DeepLinkProcessor.java#L115). I'd invstigate more but at the moment i don't have the time to checkout/debug the reason for the IOException thrown in your code generation. maybe you could test a simple project as discr

[2015-08-06 14:41] andrewlord1990 commented on #31
From the @DeepLink / @DeepLinks annotation you know the scheme and the URL. You could use that to generate an intent filter data attribute with

android:scheme="{scheme from URL in annotation}"
android:host="{host from URL in annotation}"
android:pathPrefix="{rest of URL in annotation}"

You can generate one of these for each deep link annotation.

I.e.

[code]

Would generate

[code]

You could s

[2015-08-09 03:26] aaustin opened #41 "Add deferred deep linking component"
Hey team. Good stuff with this library!

What would you say if I added [Branch](https://github.com/BranchMetrics/Android-Deferred-Deep-Linking-SDK) as an optional component to call the dispatch on install if the user originated from a deep link? That way, folks can choose to add in a post-install deep linking component if they so choose.

I can it to the sample project and add some simple instruct

[2015-08-11 15:32] jczerski opened #42 "Reading params collection"
Library works fine with multiply params in URI?
 ``` example://example.com/deepLink?param1=123&param2=456&param3=789 ``` ?
Right now I can get only first parameter.

Best regards,
Jack

[2015-08-11 17:47] jczerski commented on #42
Sorry for my mistake. Everything is ok. My terminal escapes "&" char.
My fault.

Sorry one more time.

[2015-08-11 17:48] felipecsl commented on #42
no worries :)

[2015-08-11 17:48] #42 closed

[2015-08-17 23:36] cdeonier commented on #41
Deferred deep linking is something we're thinking about, but supporting multiple vendors for campaigns/referral tracking is beyond the scope of this library right now. We're going to keep this library lightweight and stick to direct deep links until we have a generalized approach for deferred deep links.

[2015-08-17 23:36] #41 closed

[2015-08-19 13:40] jczerski opened #44 "Proguard rule for annotated methods"
Hi,

I would like to ask you about proguard rule for annotated methods, which prepare intents.
[code]
works, but I would like to do it better using something similar to:
[code]
but it does not work - proguard removes unused methods.

What do I wrong?

Thank you in advance for answer and great library.

Best regards,
Jack

[2015-08-26 15:25] andrewlord1990 commented on #38
This issue is preventing us from using DeepLinkDispatch, if the issue is coming out of DeepLinkDispatch - DeepLinkProcessor, then why is this issue closed?

[2015-08-28 21:56] felipecsl commented on #44
can you try with `-keep class com.airbnb.deeplinkdispatch.** { *;}` ?

[2015-09-02 13:58] jczerski commented on #44
[code]
Thank you, it works as I expect.

To my mind it would be nice if you put it to wiki.

Best regards,
Jack

[2015-09-02 15:23] felipecsl commented on #44
thank you! I'll add them

[2015-09-02 15:36] #44 closed

[2015-09-02 17:08] stripathi669 opened #48 "Issue with Multi Dex Enabled"
Hi

So I tried and tested the library for my android app. Everything worked fine. Then I had to enable multi dex due to 65K limit.

Now the deeplink won't open the target activity. Instead I would only see this in the console:

     I/MultiDex﹕ VM with version 2.1.0 has multidex support
     I/MultiDex﹕ install
     I/MultiDex﹕ VM has multidex support, MultiDex support library is disabled.

As a r

[2015-09-02 17:11] felipecsl commented on #48
We use DeepLinkDispatch in an app that has multidex enabled and it works fine. This log output you included doens't seem related to this library specifically, it is an Android log. Do you have any stack trace?

[2015-09-02 17:43] stripathi669 commented on #48
Hi. You are correct.

I was using  two different scheme in the manifest (two data tags). And the app wasn't opening. There is no Dex Issue.

Is there a way to use multiple scheme instead of just one?

Sorry for opening this false issue. Should I close it or open a new one this the above query.

[2015-09-02 17:50] felipecsl commented on #48
yeah you can, the sample app does exactly that. Check the AndroidManifest for an example!

[2015-09-02 17:50] felipecsl commented on #48
https://github.com/airbnb/DeepLinkDispatch/blob/master/sample/src/main/AndroidManifest.xml

[2015-09-02 17:50] #48 closed

[2015-09-02 18:06] stripathi669 commented on #48
That is weird. For me somehow, if mention two schema, none of them seem to work. App just blinks and exits without any trace-stack.

My manifest looks like this:

           <activity
            android:name="com.airbnb.deeplinkdispatch.DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.act

[2015-09-02 18:19] felipecsl commented on #48
have you tried with the latest snapshot version `1.4.0-SNAPSHOT`?

[2015-09-11 14:58] ronocod opened #49 "URL schemes with a number in them are seen as malformed"
Using a deep link with a scheme of `jackson5://` will cause a compilation error

[2015-09-12 00:05] felipecsl commented on #49
looks like OkHttp's `HttpUrl` doens't allow digits in the scheme part of the URL. I'll look into patching it

[2015-09-12 20:06] ray1984 commented on #38
What about fix?

[2015-09-13 18:00] felipecsl commented on #49
Fixed in https://github.com/square/okhttp/pull/1849. Will update `DeepLinkUrl` once that is merged

[2015-09-13 18:21] felipecsl commented on #38
I'm seeing this in the build output, could be the reason why

[code]

[2015-09-13 20:40] felipecsl commented on #38
OK this is what you need to make it work. Add it to your build.gradle file:

[code]

[2015-09-14 06:26] ray1984 commented on #38
still doesn't work

[2015-09-14 06:48] felipecsl commented on #38
Indeed. The discussion is still going on here https://github.com/excilys/androidannotations/issues/1510

[2015-09-18 18:19] #49 closed

[2015-09-25 13:15] saeedek opened #51 "Is using this library helps with the sms app to parse custom url?"
Hello
I have a problem with my sms app that doesn't recognize custom schemes as valid urls to be clicked on.
Using this library helps with this problem or not?
Thanks

[2015-09-25 17:29] felipecsl commented on #51
I don't think so, no. That's a totally different problem. Sorry!

[2015-09-25 17:29] #51 closed

[2015-10-14 17:46] skptl commented on #37
@DeepLink("scheme://{object_type}/{id}") was working with version 1.3.0, but with v1.4.0 it throws a run-time error as follows:

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.package.example/com.airbnb.deeplinkdispatch.DeepLinkActivity}: java.util.regex.PatternSyntaxException: Error in {min,max} interval near index n:

[2015-10-14 17:48] felipecsl commented on #37
@skptl can you provide a sample Uri that triggers this exception?

[2015-10-14 18:20] skptl commented on #37
Yes, sure!

URL: staging://letters/561e88f79aab50f91f0005e1

@DeepLink("staging://{objectType}/{id}")
public class ObjectActivity{
...
}

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.staging/com.airbnb.deeplinkdispatch.DeepLinkActivity}: java.util.regex.PatternSyntaxException: Error in {min,max} interval near index 11:

staging://{objecttype}/([a-zA-Z0-9_#!+%-~,.$]*)$

[2015-10-14 18:22] skptl commented on #37
Thanks @felipecsl, I appreciate your quick response!

[2015-10-15 15:49] MichaelEvans opened #53 "Not prepared to handle parameters as "host""
DLD seems to assume that all templating happens on "path parameters", and never on the "host". (i.e. `airbnb://foo/{bar}` is valid, but `airbnb://{bar}` is not.)

Is this expected functionality (I don't think it's documented)? If not, I can try to put up a PR for the change.

[2015-10-15 16:02] MichaelEvans commented on #53
Fix put up in #54

[2015-10-15 16:02] #53 closed

[2015-10-15 16:03] MichaelEvans commented on #37
@skptl I think the fix for your problem is in #54

[2015-10-16 15:01] MichaelGoj opened #55 "Firing a deep link with an unknown pathPrefix launches airbnb app"
I have registered an Activity with e.g. ``@DeepLink("example://www.example.com/deepLink")`` and specified the custom scheme ``example`` in ``com.airbnb.deeplinkdispatch.DeepLinkActivity`` within ``AndroidManifest.xml``. This works fine but
when I use a DeepLink with an unknown pathPrefix which is not registered e.g. ``example://www.example.com/someOtherLink`` with
[code]

the airbnb app opens.

I

[2015-10-17 11:31] scompt commented on #55
I think the problem is that the generated [`notifyListener()` method](https://github.com/airbnb/DeepLinkDispatch/blob/master/deeplinkdispatch-processor/src/main/java/com/airbnb/deeplinkdispatch/DeepLinkProcessor.java#L172) broadcasts an intent with an action equal to [`com.airbnb.deeplinkdispatch.DEEPLINK_ACTION `](https://github.com/airbnb/DeepLinkDispatch/blob/master/deeplinkdispatch-processor/s

[2015-10-18 02:56] felipecsl commented on #55
@scompt is correct, the implicit intent can be handled by any app, in this case the Airbnb app is handling it, which is launching the home screen. This is an interesting unintended behavior, of course.
I think adding the app package name to the action is a good idea, it would definitely be accepted.

[2015-10-18 03:00] felipecsl commented on #53
it was expected, but not documented. thanks for the PR!

[2015-10-18 03:01] felipecsl commented on #37
Fixed by #54

[2015-10-18 03:01] #37 closed

[2015-10-18 23:04] MichaelEvans commented on #55
That seems _sorta_ tricky, because the annotation processor can't use tricks like `BuildConfig.APPLICATION_ID` to determine the package name for the intent action, since it's not an Android project. There might be a way to do it like this:

[code]

to crawl up the tree to get the PackageElement of one of the annotations (to pick the package identifier for the intent action) _but_ it's possible tha

[2015-10-19 06:18] scompt commented on #55
We could allow the application subclass to be annotated with `@DeepLinkDispatch` to provide library-wide configuration options, such as the name of the action. This would make it possible to have different action names for different application variants, which might be useful if you, for example, have a debug and release build of the same app installed on your device.

[2015-10-19 06:33] felipecsl commented on #55
@scompt that's an interesting approach.
@MichaelEvans thanks for digging into this, but it indeed sounds like an overcomplicated approach.

I like @scompt's approach because it could be extended in the future with more application-wide configurations.

[2015-10-21 18:02] jeanbaptistemorin commented on #55
:+1: I have the same issue.

What about using `LocalBroadcastManager` instead of global `sendBroadcast`?
http://developer.android.com/reference/android/support/v4/content/LocalBroadcastManager.html

[2015-10-21 18:04] felipecsl commented on #55
@jeanbaptistemorin I believe @MichaelEvans is working on it and should have a PR soon, amirite @MichaelEvans ?

[2015-10-21 18:19] MichaelGoj commented on #55
@jeanbaptistemorin I tried exactly your suggested approach with using a ``LocalBroadcastManager`` couple of hours ago https://github.com/MichaelGoj/DeepLinkDispatch/commit/0054a71cfdf7e2593ed01fbea721d0bf5333cd73 I am still not sure about registering (without unregistering) a ``BroadcastReceiver`` within a custom ``Application`` class but I see no problems with doing it this way. Maybe I am missin

[2015-10-21 19:19] MichaelGoj commented on #55
But what I am still trying to understand is: What are the best practices if you, let's say you register one ``Activity`` with ``@DeepLink("http://www.example.com/someLink")`` and in ``AndroidManifest`` you use ``<data android:scheme="http" android:host="www.example.com" />`` and then you click on some link (which is not registered) outside of your app which has the following url ``http://www.examp

[2015-10-22 02:56] jeanbaptistemorin commented on #55
@MichaelGoj, as the source code of the `LocalBroadcastReceiver` reveals that it's a singleton build upon the Application context, I think it's ok to register a Receiver in `onCreate` of the Application and not call `unregister`, as the `LocalBroadcastReceiver` will be destroyed as soon as the Application gets killed. In that way your PR looks ok to me.

About the usage, I think that some apps need

[2015-10-22 09:14] MichaelGoj commented on #55
Thanks @jeanbaptistemorin for this really helpful input.

[2015-10-22 17:57] felipecsl commented on #55
Yep, just adding on to what @jeanbaptistemorin said, we use it mostly for custom scheme deep links instead of `http` ones. In that case you want a fallback for cases where none of your activities matched your URI. That's the specific use case we're trying to address

[2015-10-28 11:12] CedrickFlocon opened #58 "Parent Stack in DeepLinkActivity"
In the Generated DeepLinkActivity's class is it possible to handle parent Activity ?

Something like that :
[code]

if it's possible there is still a problem with the required parameter (intent extra) of the parent stack.
We should probably send the same extra parameter to the back stack ?

FYI from now i use `NavUtils` in every Deeplink activity

Android documentation :
http://developer.android.c

[2015-10-28 14:49] CedrickFlocon commented on #58
Ok i found my mistake. I should not use airbnb/DeepLinkDispatch inside my Application task.

[2015-10-28 14:49] #58 closed

[2015-11-09 15:06] RomainPiel commented on #31
I'm wondering if there could be a way to plug in the manifest merger task somehow? I've searched quickly and couldn't find any official way to do that but well the build system is open-source :) I'll see if I can find something.

[2015-11-09 15:14] RomainPiel commented on #31
I think it is possible to achieve with a `manifestPlaceholder`:

[code]

And generate `manifestDataPlaceholder` from the gradle plugin on the fly.

See https://github.com/castorflex/manifestreplace-plugin for a similar approach.

[2015-11-09 18:20] felipecsl commented on #31
@RomainPiel but can the annotation processor trigger the gradle plugin when apt is running in order to insert the correct intent filter?

[2015-11-09 19:35] RomainPiel commented on #31
Not sure about that, I never played with apt extensively. Worth a try you think?

[2015-11-09 20:51] RomainPiel commented on #31
Maybe @hvisser can help on that? Hey Hugo, do you think there's a way to modify the gradle `defaultConfig` when apt is running?
I'm also wondering if apt is running before the manifest merger. (if not any modification to the config wouldn't do anything)

[2015-11-10 09:39] hvisser commented on #31
You can pass in arguments to the annotation processor, based on the variant which would also hold the applicationId if that is what you are asking? Not sure what you are asking I guess.

[2015-11-10 10:40] hvisser commented on #31
One way would maybe add string resources, reference those in the manifest and have the project override that. But it's not that nice either and I'm not sure if that would work for fields like the url scheme.

[2015-11-10 11:03] RomainPiel commented on #31
Alright, let's summarise (@felipecsl correct me if I'm wrong):
- DeepLinkDispatch generates some Java code using apt. This code generation is based on the processor gathering annotated elements and doing stuff with it (https://github.com/airbnb/DeepLinkDispatch/blob/master/deeplinkdispatch-processor/src/main/java/com/airbnb/deeplinkdispatch/DeepLinkProcessor.java#L70)
- Now we want to maybe genera

[2015-11-10 11:15] hvisser commented on #31
You can't call back up to Gradle from the processor, the processor doesn't know about that at all, it's called by `javac` or by the `jack` compiler on Android. What you could do it generate some file in the processor and write a Gradle plugin to do something with that, after compiling the sources. It sounds like a lot of hassle for the problem it's solving imho.

[2015-11-10 21:18] felipecsl commented on #31
yeah doesn't sounds like it's worth doing...

[2015-11-10 21:21] RomainPiel commented on #31
Hmmm yeah, discussable. At the moment, if a url is not handled, the deep
link will never be launching the browser. Only way is to fallback to a web
view but it doesn't fit the android way of doing things IMHO. But I agree,
the quantity of work to achieve might not be worth the effort.
On 10 Nov 2015 9:18 p.m., "Felipe Lima" <notifications@github.com> wrote:

[2015-11-10 21:50] felipecsl commented on #31
hmm I suppose you're talking about http(s) deep links specifically?
In this case maybe there's a way to reroute it and `startActivity` with an explicit intent to launch the browser? Maybe if you specify the Chrome package name? Of course it wouldn't work if you don't have Chrome installed but could be a nice fallback

[2015-11-11 09:26] RomainPiel commented on #31
Ah yeah sorry I should have been more specific, I'm talking about http links. Defaulting to Chrome sounds a bit hacky to me. I'm going to manually add the paths in the manifest for now and I'll try to make an alternative solution when I have some time. Thanks for your help anyway. I think we've been around the problem now, feel free to close the issue :+1:

[2015-11-11 11:38] RomainPiel opened #61 "Parameters regex should not match strings containing "/""
In my opinion this test should pass:

[code]

but it's not. It finds the parameter `foo` with the value `baz/qux`.
The funny thing is that I can't repro with `airbnb://{foo}` and `"airbnb://baz/qux"`.

[2015-11-11 19:45] felipecsl commented on #61
Fixed via #62

[2015-11-11 19:45] #61 closed

[2015-11-11 19:46] felipecsl commented on #31
I'll keep it open in case someone has a better idea or a new solution comes up :)

[2015-11-12 10:05] caefree opened #63 "Static method to return Intent array"
Currently, the static method needs to return a single Intent object

[code]

Ideally, we'd like to be able to work with something like this:

[code]

[2015-11-12 18:32] felipecsl commented on #63
Can you elaborate on the reason why you need that?
Currently, the returned Intent is used to launch the Activity along with the extra params from the deep link.
If you return an array, how do you determine which Intent to use?

[2015-11-13 08:54] caefree commented on #63
@felipecsl Since the deeplinks go straight into the desired Activity, sometimes we would like to have another Activity on the backstack before that.

You wouldn't need to choose which intent to fire.
There is a method in "Context" called startActivities which receive an Intent[] array.

http://developer.android.com/reference/android/content/Context.html#startActivities(android.content.Intent[])

[2015-11-16 21:34] felipecsl commented on #63
Can you just use [`parentActivityName`](http://developer.android.com/training/implementing-navigation/ancestral.html#SpecifyParent) instead?

[2015-11-17 13:16] caefree commented on #63
@felipecsl That would work for the up button, but not for the back button.

http://developer.android.com/training/implementing-navigation/temporal.html#SynthesizeBackStack --> they also mention the method "startActivities" here a bit further down below.

[2015-11-17 15:05] RomainPiel opened #66 "Merge parameters parsing and match in a single method"
DeepLinkDispatch is not very memory efficient when it comes to matching the uris. Say that you have 20 entries, building the registry will parse 20 pattern in the constructor even if all the entries are not used. As a workaround, `getParameters()` and `matches()` could be merged and return a new object containing all the parsed uri details. That way there's no need to create a regex and set of par

[2015-11-17 15:10] RomainPiel commented on #66
One thing I didn't put enough emphasis on is that the `matches()` method is *always* called once and only once per entry *before* the first match. Therefore this proposal.

[2015-11-18 02:19] felipecsl commented on #63
OK makes sense. we can add support for that tehn

[2015-11-18 09:11] caefree commented on #63
@felipecsl that would be awesome, thanks!

[2015-11-26 09:49] sphdigital opened #67 "sample project is not working"
missing DeepLinkActivity in the sample project

[2015-11-27 01:59] MichaelEvans commented on #67
That file is generated by the annotation processor. Did you build the project?

[2015-11-27 02:33] sphdigital commented on #67
I had build the project but the build is failed? can you guide me how you build the project?

[2015-11-27 02:35] felipecsl commented on #67
`./gradlew clean assemble` should do it!

[2015-11-27 02:35] #67 closed

[2015-11-27 02:44] sphdigital commented on #67
thanks its working now

[2015-11-30 08:09] pangminfu opened #69 "Exclude some url path to open the apps?"
hi,

I want to exclude some url path to prevent it open the apps because the content is not available for android app. below is my example url and action:

URL | Action
------------ | -------------
http://www.example.com/ | open app
http://www.example.com/path/to/content | open app
http://www.example.com/pathto/content | open app
http://www.example.com/pathtocontent | open app
http://www.example.c

[2015-12-01 14:00] RomainPiel opened #70 "Handle Uris with no host and params (e.g 'airbnb://')"
Not sure if it's a bug or on purpose but DeepLinkDispatch does not handle Uris with just the base scheme, like `airbnb://`. In that case, `DeepLinkUri.parse()` with return `ParseResult.INVALID_HOST`. Not sure if we should handle it, any other thoughts?

[2015-12-01 17:10] felipecsl commented on #70
Our initial thought was that we'd only accept valid URIs for deep links. If you need a catch-all you can still use the BroadcastReceiver.
If you can present a legit reason to allow partial URIs maybe we can consider, otherwise I'd prefer not.

[2015-12-01 19:21] felipecsl commented on #69
If you don't add `@DeepLink` annotations for them, these URIs will do nothing, that is, they will not launch your app.
Where exactly that is being handled in your app?

[2015-12-01 19:55] felipecsl commented on #70
I kinda see a use case for this after debating about it with @ysdong. The problem is that we'd have to skip the `DeepLinkURI.parse()` call in this case. I'll think about it for a bit

[2015-12-02 03:25] pangminfu commented on #69
I make some changes to the sample project below is my intent filter in manifest file :

[code]

below is my only deeplink annotation in the sample app.(i removed all other deeplink annotation) :

[code]

generated DeepLinkLoader class :
[code]
when i call :
[code]
and
[code]
it open the app.

what am i wrong? i thought it should open the app only with below url :
https://www.airbnb.com.sg/rooms/{a

[2015-12-02 03:30] felipecsl commented on #69
Did you also copy the `DeepLinkReceiver` class?

[2015-12-02 03:32] pangminfu commented on #69
i din't make any changes on the deeplink receiver class

[code]

[2015-12-02 03:50] felipecsl commented on #69
ok your assumption is correct, it should only open the app with any URI that matches `https://www.airbnb.com.sg/rooms/{arbitraryNumber}`
I'm not sure what is going on. Do you have the Airbnb app installed? I'd recommend using a different hostname for testing, since the Airbnb app is gonna handle any www.airbnb.com.sg deep links.

[2015-12-02 03:55] pangminfu commented on #69
I had Airbnb app installed but now i had uninstalled Airbnb and try again the result is the same and i had tried to change to other hostname, the result is the same also

[2015-12-02 04:04] felipecsl commented on #69
OK you can try to see what's going on by attaching a debugger and stepping into `DeepLinkActivity.onCreate()`. In there you should be able to see exactly which activity it is launching and with which arguments. Can you try to do that and let me know what you find out?

[2015-12-02 05:37] pangminfu commented on #69
Sorry my bad, the sample project is actually working, I had stepping into DeepLinkActivity.onCreate(), i found out that the DeepLinkActivity actually will call finish() if the entry is equal to null to close the app. am i correct?

the reason why i said it was not working previously was because of i keep seeing the sample project app icon in the pop up dialog when i call ``` adb shell am start -W

[2015-12-02 05:40] felipecsl commented on #69
Yep, if no entry is found (not a match), DeepLinkActivity finishes and nothing happens.
Apparently it's working as intended here. Closing.

[2015-12-02 05:40] #69 closed

[2015-12-02 17:11] scottyab opened #72 "Issues with deeplinks in the Sample app"
Testing the sample app and finding some of the deep link are not resolving. I believe I am using the correct adb cmds and deeplinks defined in the sample? but I'd appreciate second pair of eyes.

The following work a-ok :)
[code]
However these don't resolve intent  :(
[code]

I then wondered if it's because I had the action wrong, but adding the defined actions doesn't seem to help either.

[code]

[2015-12-02 17:58] felipecsl commented on #72
I've had problems with `adb shell am` in the past, so what I usually do is:

[code]
What was happening to me was that `adb shell am start` was not sending the entire URI for some weird reason. Opening a shell prompt works fine.
Also you don't need to specify the package after the URI.
I don't think there's a bug here but please feel free to reopen if you think so. Also please include your `@DeepLi

[2015-12-02 17:58] #72 closed

[2015-12-02 18:08] scottyab commented on #72
arh yes, that's it. Running `am` cmd from inside adb shell works as expected. Oh btw I didn't include the `@DeepLink` annotations as these are the ones form your sample. I'll ping over a PR with updated readme as think it'll help others when testing the viability of this library.

[2015-12-02 18:12] felipecsl commented on #72
nice :+1: thanks!

[2015-12-03 10:08] stripathi669 opened #74 "Possible Issues with Google App Indexing Api"
Hi,

I have implemented deep link dispatch, and deep links seem to be working fine. However, there are issues with Fetch as google bot for android apps. (Link: https://support.google.com/webmasters/answer/6178089?hl=en)

Specifically, it says that the URI is unsupported. Same Uri is working perfectly fine, otherwise.
Do you think it has something to do with this library?

[2015-12-05 08:14] thuytrinh commented on #67
It's totally worth mentioning this in the Usage section of the README. Otherwise, one might get stuck for like 15 minutes before heading down to the Issues page to figure out. That's hassle!

[2015-12-05 08:32] felipecsl commented on #67
pull requests welcome

[2015-12-14 11:06] RomainPiel commented on #70
I don't think there is a nice way to accept this pattern without modifying `DeepLinkUri`. Other alternatives would be to skip the `parse()` for that specific case but I don't believe that it's should be the `DeepLinkEntry`'s responsibility to support that.

[2015-12-14 17:37] tommyd3mdi commented on #18
That would also help for a request of mine - the generation of a Parameters class that lists all used parameters for a specific URL configuration. Like, when you have

    @DeepLink("foo://bar/{baz}/{bla}")
    public class SomeActivity extends Activity { ... }

it would create this

    public interface DeepLinkParams {
        public interface SomeActivity {
            String BAZ = "baz";

[2015-12-14 17:52] tommyd3mdi opened #75 "Variable schemes across flavors"
We have kind of a weird use case here - an app with three flavors and - of course - several activities, while one of the activity should deal with a certain set of URLs in one flavor and with another set of URLs in another. These URLs only differ in scheme and we already separated that out in the flavor's distinct manifests, i.e. we have `DeepLinkActivity` configured like this

* src/flavor1/Andro

[2015-12-16 07:32] felipecsl commented on #18
yeah, that's pretty much what I had in mind

[2015-12-16 07:36] felipecsl commented on #75
You could have different versions of the same activity, one for each one of your flavors, like you are doing with the AndroidManifest.xml file. Of course this would require delegating activity logic somewhere else in a common class to avoid duplication, but other than that, this approach should work fine.
DeepLinkDispatch's annotation processor is not aware of Android neither your app's flavor, so

[2015-12-16 07:36] #75 closed

[2016-01-15 14:19] sheaam30 opened #76 "Allow a result to be returned to the caller"
If `DeepLinkActivity` receives an intent that was started with `startActivityForResult` there is currently no way to return a result to the Activity that sent the intent.

[2016-01-15 18:07] felipecsl commented on #76
Sounds good to me. Please feel free to send a PR

[2016-02-16 13:28] iHehaDev commented on #38
Seems to be related to two Processor will conflict with each other. Still don't have a fix for that yet.

[2016-02-26 15:34] andrewlord1990 commented on #70
We use deep links for a custom scheme without a host, just a scheme and a filepath.

E.g.

custom-scheme://basket
custom-scheme://hotel/1234
custom-scheme://item?itemId=65

In this situation, the links are never used outside of deep linking into the app and so host is unnecessary, so we decided to exclude it.

[2016-02-27 08:13] StarWar opened #80 "Subsequent deeplink doesn't work when App is launched from Deeplink?"
In a textview I have some links which should when clicked tries to open a deeplink and this is handled by deeplinkdispatch and it works as expected. But when app is launched from deeplink the links which were in the textview doesn't work anymore.

What can I do to resolve this issue.
it gives following errors

[code]

Thanks,

[2016-02-27 15:26] StarWar commented on #80
I have a deepLinkDispatchActivity and where I've defined all the deeplinks and it handles all deeplinks. It had the launchMode="singleInstance" I removed this line from manifest and it started working.

[2016-02-27 15:26] #80 closed

[2016-02-28 14:56] andrewlord1990 commented on #76
It looks like this issue can be closed.

[2016-02-28 23:28] #76 closed

[2016-03-08 21:57] qbait opened #81 "DeepLink.IS_DEEP_LINK always equals false"
getIntent().getBooleanExtra(DeepLink.IS_DEEP_LINK, false) returns always false, even when I open app from deeplink.

My annotation looks like `@DeepLink("myapp://open")`

My command to open deeplink `am start -W -a android.intent.action.VIEW -d "myapp://open"`

[2016-03-08 22:55] felipecsl commented on #81
@qbait can you share a test project that reproduces the error? We have a unit test that checks for that flag on `MainActivityTest.testIntent()` so I'd be surprised if it's actually a bug

[2016-03-08 22:56] felipecsl commented on #81
Most likely your intent is not coming through DeepLinkDispatch but through another mechanism, maybe regular android intent.

[2016-03-09 16:10] qbait commented on #81
@felipecsl I created project from the scratch with the same result (DeepLink.IS_DEEP_LINK always equals false). It's the standard android project with DeeplinkDispatch, available at my github https://github.com/qbait/DeeplinkDispatchTest

[2016-03-15 02:08] sandy-8925 opened #83 "Deeplink loader class is incorrectly generated when project uses capital letters in Java package names"
In the app I work on, we use capital letters in the package names, and DeeplinkDispatch incorrectly thinks that the package is a class, and that the actual activity is a nested class.

So, it generates DeepLinkLoader with "import com.example.Package"

and in the load() method:
new DeepLinkEntry("deeplink://path1", DeepLinkEntry.Type.CLASS, Package.Activity.class, null)

which fails to compile.

If

[2016-03-15 17:14] #83 closed

[2016-03-16 21:53] sandy-8925 commented on #83
Thank you!

[2016-03-18 12:50] jam0cam opened #85 "Method Annotations and getting parameter values"
As with the example here, is there a way to fetch out the "param1" value, so that I can put it in the Intent as an extra with my own key/value pair?

[code]

Thanks,
Jia

[2016-03-18 13:16] #85 closed

[2016-03-18 13:30] jam0cam commented on #85
I can just change "param1" to whatever parameter name that I want to be in the bundle

[2016-03-19 21:47] hzsweers opened #86 "Proposal: Make generated DeepLinkActivity optional"
## The problem

Currently, all deeplink handling is done in a generated `DeepLinkActivity` that you must add to your manifest. While this is a convenient mechanism for easy dropping in, it's not very extensible if you have any requirements around your deeplinking. In particular, you ultimately don't control the entry point to your app, and can't run any sort of preconditions.

## Example

Any app

[2016-03-21 19:08] felipecsl commented on #86
This a pretty interesting proposal. To be fair, I've never been super happy with the way you're required to have `DeepLinkActivity` in your manifest and how rigid it is. Having it be more flexible is totally fair and I believe would make for a great addition.
It seems like you got the details well spec`d out in your head already, so please feel free to contribute a PR and I'd be glad to review it!

[2016-03-21 19:16] cdeonier commented on #86
I agree, the use case you outlined seems pretty typical. I also like the proposal, and would be in support of a PR!

[2016-03-21 21:28] hzsweers commented on #86
Awesome, I'll get started on that. Any opinions on namings?

[2016-03-22 00:03] felipecsl commented on #86
None so far. We can revisit when we have something to look at

[2016-03-29 22:36] #86 closed

[2016-04-01 08:25] prisa1987 opened #88 "Regular Expression Symbols : Deeplink can't set value"
For example : https://et/1/#/101

@DeepLink (https://et/{id}/#/{name})
 I try to getString("name")  --> I get null value

but in case   @DeepLink (https://et/{id}/{name})
I get correct value

Thank you so much :)

[2016-04-07 07:38] caefree commented on #63
@felipecsl any  updates on this ? Is it likely to getting picked up anytime soon?

[2016-04-08 00:14] firasalkafri commented on #81
Facing the same problem

[2016-04-09 07:26] peacepassion opened #90 "Cannot apply into multi-modules project"
The files generated by apt have the file names that are hard coded like following.

![image](https://cloud.githubusercontent.com/assets/5254121/14402395/febd4dae-fe66-11e5-8bf3-8c75db476050.png)

![image](https://cloud.githubusercontent.com/assets/5254121/14402396/05f0c844-fe67-11e5-8018-4fe211bc482f.png)

As a result, the library can only apply into the project owning only one module app. Otherwi

[2016-04-22 22:54] mrudult opened #91 "Using resource strings gives malformed url during compilation"
Trying:
[code]
gives:
[code]
Is there a way I can use resource strings in the urls?
I've different resource strings depending on app flavors.

[2016-04-28 12:20] ndlovucn commented on #81
Hi has anybody found a way around this bug?

[2016-04-28 12:48] firasalkafri commented on #81
@ndlovucn can you copy paste your Manifest?

[2016-04-28 12:56] ndlovucn commented on #81
<activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.B

[2016-04-28 12:58] firasalkafri commented on #81
No, you should have this activity defined:

[code]

[2016-04-28 13:00] ndlovucn commented on #81
ok I see, will update and test, thank you for your prompt response

[2016-05-02 06:48] markchristopherng opened #92 "Dispatcher extension"
Its is possible to do the boostrap or start up work such as app initialization and authentication in a central location (in the dispatcher) so that the activity which has the deep link does not have to take care of this.

[2016-05-06 14:57] skptl commented on #63
It would be great to have such method, by that we can actually create an entire task stack.
@felipecsl Any plans for this?
Thanks.

[2016-05-07 18:26] felipecsl commented on #63
We don't have bandwidth to address this right now, but please feel free to submit a PR!

[2016-05-10 16:04] fernandospr opened #93 "Custom path matching regex"
Currently I have seen that the regex (DeepLinkEntry.PARAM_VALUE) is "([a-zA-Z0-9_#!+%~,\\-\\.\\$]*)".
However I have deeplinks that contains other characters, for example '&'.
So they will not match.

The proposal is to allow the client to customize this regex.

Thanks.

[2016-05-10 18:55] mrudult commented on #91
Moved the strings to `Config` instead and it worked.

[2016-05-10 18:55] #91 closed

[2016-05-10 19:39] felipecsl commented on #93
I don't think we wanna make the regex customizable at runtime, but please feel free to submit a pull request that allows `&` on the path regex

[2016-05-10 20:44] felipecsl commented on #81
Has this been resolved?

[2016-05-10 21:53] fernandospr commented on #93
Do you see any problems making this externally configured? Like using a meta tag in the manifest? I can make a pull request to include '&', however tomorrow maybe I will need more, I don't know maybe ¡ ¿ @ etc.

[2016-05-10 21:58] felipecsl commented on #93
I believe this regex should be following the URI specification for the [path component](https://tools.ietf.org/html/rfc3986#page-22). While the RFC does not explicitly state which characters are allowed, the rules are not supposed to change.
The problem here is that our regex is too restrictive and should just be fixed to allow more special characters

[2016-05-17 23:27] felipecsl commented on #81
I assume this has been resolved. If you look into `DeepLinkActivity` (for v1.5) or `DeepLinkDelegate` (for v2 - https://github.com/airbnb/DeepLinkDispatch/blob/master/deeplinkdispatch-processor/src/test/resources/DeepLinkDelegate.java#L74), you'll see that this boolean flag is being set to true there. If you're seeing `false`, most likely your Intent hasn't gone through DeepLinkDispatch at all

[2016-05-17 23:27] #81 closed

[2016-05-17 23:28] felipecsl commented on #92
This has been implemented on #87. Just use version `2.0.0-SNAPSHOT` and the new `@DeepLinkHandler` annotation

[2016-05-17 23:28] #92 closed

[2016-05-19 02:13] markchristopherng commented on #92
great thanks for that

[2016-05-19 08:17] markchristopherng opened #95 "deep link to handle production and test urls"
In our project we have multiple test environments (to support our myriad and varied testing requirements) together with our production environment.

The current @DeepLink annotation requires us to add a URL for every single environment:

@DeepLink({
“https://prod_env/showDetail/detail.html”,
“https://test_env1/showDetail/detail.html”,
“https://test_env2/showDetail/detail.html”,
“https://test_env3/

[2016-05-19 08:22] markchristopherng commented on #95
Alternatively do you support wildcards as this would solve this issue as well.

@DeepLink({
“https://*/showDetail/detail.html”})
public class MyShowDetailActivity ….

[2016-05-20 02:47] untungs commented on #95
You could try with `@DeepLink({“https://{host}/showDetail/detail.html”})`

[2016-05-20 03:29] markchristopherng commented on #95
thanks, i thought about that as well but didn't get around to trying it

[2016-05-22 04:49] untungs opened #96 "DeepLinkActivity didn't call finish() causing the app to crash"
I'm trying the sample app with snapshot v2.0.0 of the library. Whenever I run the sample app through deeplink, it always crash. I think it's because the generated `DeepLinkActivity` class didn't call `finish()`. Here's the stack trace:

[code]

Adding `finish()` statement in its `onCreateMethod` did the work.

Also, when will the new version be available in the JCenter repository? I can't wait to

[2016-05-23 03:34] felipecsl commented on #96
Indeed we should fix that. Do you mind submitting a PR? It should be published as soon as we iron out these bugs

[2016-05-23 21:55] #96 closed

[2016-05-24 07:12] klanjabrik commented on #69
@felipecsl I just want to make sure. So the App Chooser still show the application icon, and when user choose the application, it will not open the application?

[2016-05-24 16:28] felipecsl commented on #69
@klanjabrik correct. If you know that you only want to handle a very specific type of deep links, you can add that to your AndroidManifest.xml `intent-filter` and then if your intent doesn't match your filter, it won't show the App Chooser

[2016-05-25 12:33] klanjabrik commented on #69
@felipecsl yup, too bad pathPattern doesn't allow application to use negation. Thanks.

[2016-05-26 12:36] bridgeri127 opened #98 "Plans for release?"
Hi all

I was wondering if you have any updates on release plans? I love the library, but am having trouble with user authentication using the DeepLinkActivity. Essentially, I want to be able to check if user is logged in before redirecting them to the relevant activity. I know that this was implemented in #87 and I see other places where you guys have spoken about version 1.6.0 and 2.0.0-SNAPSHOT

[2016-05-26 17:07] felipecsl commented on #98
you can use version `2.0.0-SNAPSHOT`.
Just add this to your root-level build.gradle file:

[code]

[2016-05-26 17:07] #98 closed

[2016-06-02 13:26] bridgeri127 commented on #98
Thanks a million for that @felipecsl , do you know when it will be available in a release build rather than a SNAPSHOT? Would prefer to keep SNAPSHOTs away from our releases.

[2016-06-02 22:51] MichaelEvans commented on #88
You're seeing this because everything after the # sign is part of the URL fragment, not part of the URL path.

[2016-06-04 19:10] felipecsl commented on #98
@bridgeri127 you're welcome.
I've just uploaded [2.0.0](http://repo1.maven.org/maven2/com/airbnb/deeplinkdispatch/2.0.0/)
You can use it already, also see #100 for the changelog and updated readme

[2016-06-05 03:11] #88 closed

[2016-06-05 03:11] felipecsl commented on #88
Thanks @MichaelEvans

[2016-06-05 21:54] firasalkafri opened #101 "2.0.0-SNAPSHOT deleted from repository?"

[2016-06-05 22:53] felipecsl commented on #101
you can use `2.0.0`, it has been uploaded already!

[2016-06-05 22:53] #101 closed

[2016-06-07 10:16] bridgeri127 opened #103 "Cannot find DeepLinkDelegate"
I am trying to use the 2.0.1 release of the library and want to use the @DeepLinkHandler class annotation. However, when I try and use the DeepLinkDelegate.dispatchFrom(this) method, Android Studio cannot find the DeepLinkDelegate class. My build.gradle class includes the following:
[code]

In my activity I have the following:

[code]

Any ideas why this does not work, are there any known issues w

[2016-06-07 17:01] felipecsl commented on #103
You have to compile the project in order for Android Studio to see the `DeepLinkDelegate` class. Since it is generated at compile time, it will not be available at first, but once you build it, it Android Studio will see it.

[2016-06-07 17:48] bridgeri127 commented on #103
Hi @felipecsl

I was aware of this, perhaps I should have said it is a compile time error which I am seeing. Should I take it from this that this is not an issue you have seen before and I should presume it is on my side?

[2016-06-07 19:02] felipecsl commented on #103
Correct. Are you seeing any other compilation errors? If you have other code that's failing to compile, then APT won't generate `DeepLinkDelegate`. Can you run gradle with `--info` and paste the output?

[2016-06-07 19:31] MinceMan opened #104 "LocalBroadcast Creates an NPE when sourceIntent's data Uri is null."
In the following code you can see that a null uri will be passed down to notifyListener and `uri.toString()` will be called on it.

[code]

[2016-06-07 19:34] MinceMan commented on #104
Would the following be the fix? Or do we want to broadcast that error no matter what?

'''java
  private static DeepLinkResult createResultAndNotify(Context context, final boolean successful, final Uri uri, final String error) {
    DeepLinkResult result = new DeepLinkResult(successful, uri, error);
    if (uri != null) notifyListener(context, !successful, uri, error);
    return result;
  }
[code

[2016-06-07 19:47] MinceMan commented on #104
I'll open a PR once I get a response on the correct fix :)

[2016-06-07 21:27] felipecsl commented on #104
I believe that in the case of a launched deep link, theoretically the Intent data cannot be `null`, but I agree this is wrong. We should check if the `uri` is not `null` before calling `toString()` on it. Can you send a PR?

[2016-06-08 14:07] MinceMan commented on #104
Will do.

[2016-06-08 18:47] #104 closed

[2016-06-09 15:39] MinceMan opened #107 "Proposal: Have DeepLinkDispatch supply its Proguard Rules"
In a build.gradle we can have the deeplinkdepatch point to its own proguard rules like such.
[code]

This would require turning deeplinkdepatch into an android library project. Would this be something of interest or should this remain a java module?

[2016-06-09 21:13] felipecsl commented on #107
We don't have plans to convert it into an Android library for now, but thanks for your proposal!

[2016-06-09 21:13] #107 closed

[2016-06-10 13:35] guiwro commented on #103
Same here, even after compilation.

[2016-06-10 15:11] felipecsl commented on #103
You need to send more details otherwise we can't understand what's going on. Please send a complete build output, eg.: `./gradlew assemble --info --stacktrace`

[2016-06-13 08:25] guiwro commented on #103
Build is successful, I can generate a signed APK when I comment the `DeepLinkDelegate` line, whose Android Studio "cannot resolve symbol".

If it helps, `./gradlew app:dependencies --configuration=apt` gives:

[code]

[2016-06-13 08:31] guiwro commented on #103
My guess is that `DeepLinkDelegate` couldn't be generated as `JavaPoet` v1.7 is quite different from 1.5.1. `Auto-Value-Parcel` requires v1.7 to work correctly.

[2016-06-13 08:57] #103 closed

[2016-06-13 09:15] guiwro commented on #103
Cool for the bump, thank you! Do you project to push a `2.0.2 version` of `DeepLinkDispatch` soon?

[2016-06-13 09:18] felipecsl commented on #103
Can you please test with the latest `2.0.2-SNAPSHOT`? If it fixes the issue, then I can cut a 2.0.2 stable release

[2016-06-13 09:47] guiwro commented on #103
Well, it didn't work, still can't find `DeepLinkDelegate`

[code]

[2016-06-13 09:58] guiwro commented on #103
@felipecsl totally sorry: for `DeepLinkDelegate` to be generated, we should first of all use at least one `@DeepLink` annotation. Now that I've annotated an activity, it works well.

[2016-06-13 10:17] felipecsl commented on #103
@guiwro lol I didn't see that one coming. Thanks for updating and glad it works now :smile

[2016-06-14 21:00] MinceMan commented on #74
We're using this with app indexing and don't seem to have any problems with it.

[2016-06-15 07:25] vishyrich commented on #103
@felipecsl
will 2.0.2 version be pushed anytime soon? I am facing the DeepLinkDelegate not found issue which gets solved with 2.0.2-SNAPSHOT.

Thanks!

[2016-06-15 07:28] guiwro commented on #103
@vishyrich
1. Comment line `DeepLinkDelegate.dispatchFrom(this);`
2. Annotate one activity with `@DeepLink("airbnb://this/is/a/test")`
3. Build
4. Uncomment line with `DeepLinkDelegate` which should be found by Android Studio.

[2016-06-15 08:20] vishyrich commented on #103
@guiwro Thanks! that works with 2.0.1 version!!

[2016-06-15 08:50] felipecsl commented on #74
We're using app indexing as well, no problems so far. I'm assuming it's not an issue with DLD, but feel free to reopen if you find a bug.

[2016-06-15 08:50] #74 closed

[2016-06-27 16:05] padfoot27 opened #110 "Problem in URLs that contains brackets"
When I passed a URL that contains brackets "(" or ")" the matcher couldn't match it with any of the URL's. For an example, here's a sample class that I annotated with a URL,

@DeepLink("https://www.example.com/{id}")
public class ProductInfoActivity {
    Intent i = getIntent();
    if (i.getBooleanExtra(DeepLink.IS_DEEP_LINK, false)) {
        Bundle parameters = i.getExtras();
        String idS

[2016-07-17 14:23] Saketme opened #113 "Stale example code for Callbacks in Readme"
The example code for registering a `BroadcastReceiver` for listening to deeplinks uses stale constants. For instance, `DeepLinkActivity.EXTRA_URI`, `DeepLinkActivity.EXTRA_SUCCESSFUL`, etc., have all been replaced by `DeepLinkHandler.EXTRA_URI` and `DeepLinkHandler.EXTRA_SUCCESSFUL` and so on in v2.0.1

[2016-08-02 07:43] Arash-gm opened #114 "path matching problem"
i'm deeplinking two urls this way :

    @DeepLink({"myapp://st/path/selective/",
        ,"myapp://st/path/{destination}"
        })

the problem is when i test these with "myapp://st/path/selective" without "/" character , it matches the second path and use selective as {destination} . how can i use first path even i don't put "/" at the end of the link?

[2016-08-03 23:05] iveyalkin opened #115 "null check of intent data in DeepLinkDelegate"
Method `DeepLinkDelegate.dispatchFrom`
[code]
If the data URI is `null` somehow, then `createResultAndNotify` is getting called with `null` URL argument which leads to an NPE later on in `DeepLinkDelegate.notifyListener`.
[code]

[2016-08-04 16:45] felipecsl commented on #115
Good point. Since `Uri` is `Parcelable`, we should be able to just put it directly into the `Bundle` without the need to call `toString()`. Fix coming

[2016-08-04 16:51] felipecsl commented on #115
Oh, this has been [fixed on master already](https://github.com/airbnb/DeepLinkDispatch/blob/master/deeplinkdispatch-processor/src/main/java/com/airbnb/deeplinkdispatch/DeepLinkProcessor.java#L283-L284). Closing

[2016-08-04 16:51] #115 closed

[2016-08-04 18:22] felipecsl commented on #113
Fixed in #116

[2016-08-04 18:22] #113 closed

[2016-08-04 18:26] felipecsl commented on #114
You can't. You'll have to use a single path, just `"myapp://st/path/{destination}"` and match the `destination` parameter manually

[2016-08-04 18:26] #114 closed

[2016-09-14 20:45] juanlabrador opened #121 "getIntent().getBooleanExtra(DeepLink.IS_DEEP_LINK, false)"
always return false, I used this:

[code]

[2016-09-14 20:47] juanlabrador commented on #121
[code]

[2016-09-14 21:03] #121 closed

[2016-09-15 14:43] juanlabrador opened #122 "overridePendingTransition();"
Any idea to apply overridePendingTransition(); when activity is called? thanks

[2016-09-15 15:01] #122 closed

[2016-10-01 19:06] ShikherVerma opened #123 "Minor change in Readme"
Replace `android:name=".DeepLinkActivity"` with `      android:name="com.airbnb.deeplinkdispatch.DeepLinkActivity"` since the first one doesn't actually work.

[2016-10-01 22:50] #123 closed

[2016-10-03 06:46] yasaman93 opened #125 "Always got DeepLinkHandler.EXTRA_ERROR_MESSAGE on DeepLinkReceiver!"
I do these steps but I Always got DeepLinkHandler.EXTRA_ERROR_MESSAGE on DeepLinkReceiver! Even when I try with your sample project!

1. Add this to my application class:
` IntentFilter intentFilter = new IntentFilter(DeepLinkHandler.ACTION);
  LocalBroadcastManager.getInstance(this).registerReceiver(new DeepLinkReceiver(), intentFilter);`

2. Add this to my manifest:
`<activity
            androi

[2016-10-03 07:22] yasaman93 commented on #125
I have typing mistake!!!!!!!!
I must use "deepLink" not "deeplink" in url :)))

[2016-10-03 07:22] #125 closed

[2016-10-09 04:01] felipecsl commented on #90
This didn't really work well since there is no way to know where the annotation will be generated. Reopening until we have it actually fixed.
I think the best way to go about it is to always enforce the the `@DeepLinkHandler` annotation somewhere and just have the generated classes be based on the annotated one

[2016-10-28 03:20] nimengbo commented on #90
@felipecsl  Hey guys, I already test this case used `@DeepLinkHandler`, And in multi-module with DeepLink, It's all green .
What's the problem in this issue answer?

[2016-11-01 04:51] felipecsl commented on #90
@nimengbo the problem is that having @DeepLink annotations in multiple modules would cause DeepLinkDispatch to generate multiple duplicated classes, since it would generate one DeepLinkActivity for each module and they would all have the same package and same name.
SInce you can't have 2 classes with the exact same name and package name, the dexer would fail with duplicate class definition error.

[2016-11-23 17:48] friedger opened #127 "Add referrer as extra"
ActivityCompat.getReferrer() returns the calling activitiy. For DeepLinkDispatch, the referrer of the deeplink intent will be lost because the DelegateActivity does not propagates this information.

Suggestion:
Add DeepLink.REFERRER_URI as an extra

[2016-12-01 02:47] zhenglibao opened #128 "Deeplink Apt not work"
When build my project, gradle report the following exception. Mainly it's because missing okio/buffer, but I don't understand why it occurs. Anyone can help me to fix this problem?

import com.airbnb.deeplinkdispatch.DeepLinkDelegate;
                                  ^
  符号:   类 DeepLinkDelegate
  位置: 程序包 com.airbnb.deeplinkdispatch

FAILURE: Build failed with an exception.

* What went wrong:
Ex

[2016-12-01 03:26] felipecsl commented on #128
It sounds like your annotation processor dependencies are bringing in the wrong version of Okio.
I'm not sure what would be causing this, sounds like some dependency conflict, but maybe try adding this to your dependencies:

[code]

[2016-12-01 03:26] #128 closed

[2016-12-05 16:30] leonardo2204 commented on #70
@andrewlord1990 Sorry to bring an old issue up, but I'm kinda confused here.
I've understood that is not possible to have partial schemes, but you said you excluded 'it' and I guess it solved your problem. How did you solve that ?
And is this ever going to be supported out-of-the-box ?

Thanks and nice job here guys !

[2016-12-05 19:15] felipecsl commented on #70
you can't have a URI path and not a host. You're just misinterpreting it. In the examples @andrewlord1990 gave, `basket`, `hotel` and `item` would be the host, respectively.

[2016-12-05 19:45] leonardo2204 commented on #70
@felipecsl Thanks for the feedback, I think I got the idea, but in my app we use just like @andrewlord1990 said. Is there any milestone for that ?

Thanks

[2016-12-05 20:39] felipecsl commented on #70
@leonardo2204 those URLs should work fine with DeepLinkDispatch. Have you tried it and it didnt'work?

[2016-12-06 13:13] leonardo2204 commented on #70
Hey @felipecsl, just to clarify, using like:
bla:///campaigns/{bla} or bla:///test/another will it work ?

Thanks again

[2016-12-06 18:55] felipecsl commented on #70
@leonardo2204 yep, that works fine

[2016-12-07 00:27] #127 closed

[2016-12-07 11:21] MostafaDavodi opened #130 "URL conflict"
i have 3 links like this :
1. @DeepLink("http://example.com/index.php?page=share&type=type3&id={id}")
2. @DeepLink("http://example.com/index.php?page=share&type=type2&id={id}")
3. @DeepLink("http://example.com/index.php?page=share&type=type1&id={id}")

and for each of them i have an activity as a host :
1. ActivityA
2. ActivityB
3. ActivityC

but when i have links for urls 2 it bring up activityA

[2016-12-07 19:10] felipecsl commented on #130
URI interpolation in the query parameters is not currently supported, only on the path component.

[2016-12-07 19:10] #130 closed

[2016-12-13 19:06] kxfang opened #131 "API for checking if a URI is supported"
I'm dealing with a legacy code base that can't be migrated over to this library all at once and would like to execute the legacy dispatch logic if we get a link that hasn't been migrated over to DeepLinkDispatch yet. Is there any interest in supporting an API that allows the client to query whether or not a URI is supported?

[2016-12-13 22:08] felipecsl commented on #131
You can use a helper method like this:

[code]

[2016-12-14 00:17] kxfang commented on #131
To confirm, the snippet you posted is for dispatched Activities to determine whether or not the Intent is coming from a deep link, is that correct? Our use case is a little different. What we want is something like:
[code]

[2016-12-14 00:58] felipecsl commented on #131
Oh, I see what you're saying. Yeah that one is not supported yet, but should be easy to add support for. I'll try to get it in in the next few days!

[2016-12-14 01:08] kxfang commented on #131
Awesome, thank you!

[2016-12-14 04:28] felipecsl commented on #131
Closed via #133

[2016-12-14 04:28] #131 closed

[2016-12-14 15:37] leonardo2204 opened #134 "NPE when calling DeepLinkDelegate.dispatchFrom(this);"
Hello,

I'm getting a NPE when calling `DeepLinkDelegate.dispatchFrom(this);` from my SplashAcitivity.
My code:

[code]

[code]

Doing some digging I think I found the problem. On DeepLinkDelegate(L:30) we have:
[code]
which calls:
[code]
which finally calls:
[code]

I'm on version 2.0.1 !

So, I'm guessing that after veryfying if Uri is null, the code shouldn't be calling notifyListener, am I rig

[2016-12-14 19:07] felipecsl commented on #134
@leonardo2204 this has been fixed here: https://github.com/airbnb/DeepLinkDispatch/commit/a7bc5358a511761e50056638829d6e9db725bea6

However It's not released yet, you can use the snapshot version in the meantime or wait for the next release (which is coming soon!)

[2016-12-14 19:07] #134 closed

[2016-12-14 19:21] leonardo2204 commented on #134
@felipecsl Should have diff'ed haha.
Thanks for the heads up, I'll wait then !

[2016-12-20 20:43] johnryan commented on #85
@jam0cam how did you get this working? i.e. where did you get the bundle from in this example?

[2016-12-20 20:54] felipecsl commented on #85
@johnryan starting with version `3.0.0-rc1` you can add an additional `Bundle` parameter to methods in order to catch the extras

[2016-12-21 18:22] johnryan commented on #85
@felipecsl is there any documentation for 3.0.0-rc1? Seems like the setup is substantially different...i.e. no DeepLinkActivity etc. Do you have to change the manifest to use a receiver instead?

[2016-12-21 18:28] felipecsl commented on #85
@johnryan I'm gonna update the README today to reflect v3, since that's still the v2 instructions. sorry for the delay!

[2016-12-21 18:28] felipecsl commented on #85
@johnryan in the meantime you can look into the sample project code.

[2016-12-22 09:14] OleksandrKucherenko opened #138 "latest release v3.0.0-rc1 - broken annotation processor"
I try to run latest release on project in development.

Status:
v3.0.0-rc1 - broken
v2.0.1 - passed

P.S. latest release force one extra line in gradle:

[code]

some kind of the clash with findbug  tool and deepLink lib.

[2016-12-22 17:48] felipecsl commented on #138
@OleksandrKucherenko can you post the stacktrace?
Also did you follow the updated steps on the README? 3.0.0-rc1 has breaking changes and your code won't work "as-is"

[2016-12-27 07:40] OleksandrKucherenko commented on #138
Ok, so instructions for updates from prev version are:

step #1: declare `AppDeepLinkModule` class with annotation `@DeepLinkModule`
step #2: modify deep link handler activity:
a) change annotation declaration to `@DeepLinkHandler({AppDeepLinkModule.class})`
b) change implementation inside the activity:
[code]
c) change import of DeepLinkDelegate class. Its now in the same package as a deeplink ha

[2016-12-27 08:14] felipecsl commented on #138
Thanks for the feedback, that's valuable, especially 1. about not failing the build when parts are missing. We'll add more checks around that
2. The generated class name is always the same name of the annotated class + `Loader`. Dagger uses the `Dagger` prefix and AutoValue is `AutoValue_`. I believe what we're doing is similar and you're always able to know what the generated class name would be.

[2016-12-27 10:30] OleksandrKucherenko commented on #138
my first assumption was "DeepLink_*"

[2016-12-27 10:48] OleksandrKucherenko opened #139 "Is it possible to resolve a deeplink to an "action" inside already instantiated activity?!"
is it possible to support resolving of deeplinks to a call of method inside the activity/fragment instance?

idea behind the scene:
- create decoupled activity with fragments
- when captured specific UI interaction in fragment, will be raised/triggered a deeplink.
- deeplink can be of two types: navigation and action;
- navigation resolved to execution of intent; action resolved to a call of the m

[2017-01-03 13:28] Yanqilong opened #140 "Missing file"
sample-library missing LibraryDeepLinkModuleLoader.java

[2017-01-03 15:43] MichaelEvans commented on #140
@Yanqilong That file is generated by the annotation processor during compilation.

(If you're curious, you can find the generated class under `build/generated/source/apt/<VARIANT>/`)

[2017-01-03 15:53] #140 closed

[2017-01-03 15:53] felipecsl commented on #140
What Mike said :)

[2017-01-04 14:47] Yanqilong commented on #140
ths, MichaelEvans

[2017-01-05 08:46] iam1492 opened #141 "matching algorithm for same scheme, host and different path."
I want to know the reason why library use regex matching with scheme, host and path set.
Why not just matchnig the scheme, host. (than we can parsing the rest things from code)
For me, I want use scheme something like
1 ."myscheme://myhost/mypath/mypath2"
2. "myscheme://myhost/mypath3/mypath4"

with one deeplink
@DeepLink(myscheme://myhost")

then I can parse path from Uri. (something like uri.get

[2017-01-06 07:24] Yanqilong commented on #140
Can I ask some questions?  In that case,  If between App project(main project) and library project(sub project) not exist dependency, I will use DeepLinkDispatch from main project jump to sub project,  Can I do it?

[2017-01-06 07:30] felipecsl commented on #140
No, there needs to be a dependency between the projects, otherwise project A cannot see classes from project B

[2017-01-06 07:37] felipecsl commented on #141
What you want is a catchall (wildcard) deep link. DeepLinkDispatch wasn't really designed for this scenario. This is a lot more simple and you could handle this by using a simple intent-filter in your manifest and that's it. You don't need DeepLinkDispatch for that.

[2017-01-06 07:37] #141 closed

[2017-01-06 07:47] Yanqilong commented on #140
I`am very said,  I want to component development, every component  is independent, there has a problem, how to communicate to between component ?  If DeepLinkDispatch as a bridge(like a router or event bus) implement component communicate when it not exist dependency, it is very nice.

[2017-01-06 07:53] felipecsl commented on #140
Well I'm not sure what you mean then. if you have an Android app that uses a library project, you need to have a dependency from your app to your library, like `compile project(:library)` otherwise the library simply won't be included in your app at all. They can still be "independent" though.

[2017-01-06 08:48] iam1492 commented on #141
@felipecsl I mean not all the deep link but want catch same scheme and host (not path)
There can be multiple hosts.
If I want to add more intent filter with my scheme with host then it is duplicate with Airbnb deeplinkActivity's scheme(event if it has no host) so two choices of same my app shown when clicking the link.

What I meant was that I don't want to add many many schemes such as:
@DeepLink

[2017-01-06 20:20] kxfang opened #142 "Deep link documentation generation"
Hi, would there be any interest in supporting a gradle task that generates documentation containing all deep links supported by a project? The task could potentially pick up javadoc above any @DeepLink annotations and use those as the description for the links.

[2017-01-06 21:39] felipecsl commented on #142
Hey @kxfang thanks for asking! Yes, I think that'd be a valuable addition. Is that something you're planning to contribute? That'd be great.

[2017-01-06 22:29] kxfang commented on #142
@MichaelEvans has bravely volunteered to look into this

[2017-01-06 23:10] kxfang opened #144 "More robust pattern matching"
Our app supports all of the following:

http://example.com/foo
https://example.com/foo
http://www.example.com/foo
https://www.example.com/foo

It'd be nice to make the URL pattern matching more robust such that there's no need to have to write all those variants out everywhere. Looking at the implementation in DeepLinkEntry this seems feasible, but we'd need to agree on a syntax that works well wi

[2017-01-06 23:38] felipecsl commented on #144
Do you have something in mind on the API for this?

[2017-01-09 05:06] kxfang commented on #144
Spent more time thinking about this, maybe robust regex/pattern matching is the wrong way to go. Perhaps a better problem to solve is the problem that there is no way to declare scheme + host separately from the path. Currently there's a bit of ugly repetition in @DeepLink since you always need to specify "example://<path>" or "http://example.com/<path>".

My proposal is then to support client-def

[2017-01-18 15:43] #138 closed

[2017-01-19 13:34] fernandospr opened #145 "Access to the original intent data string"
I need to get the original data string from the intent that launched my activities with a deeplink. Normally, I would do this by calling `getIntent().getDataString()` in my activity's `onCreate`, however, because I'm using this library I can't do it that way anymore, because there is a single point of entry (which is the `DeepLinkActivity`). So, I no longer know where to get this data.

Should I c

[2017-01-20 00:57] felipecsl commented on #145
You can use `getIntent().getStringExtra(DeepLink.URI)` to obtain the original data URI that launched your app.
By the way, starting with version 3.0.0-rc1, DeepLinkDispatch no longer generates a `DeepLinkActivity` for you. You have to manually call `DeepLinkDelegate#dispatchFrom()`.
That means you have complete access to the original intent and can do whatever you want with it :)
Check the sample

[2017-01-20 00:57] #145 closed

[2017-01-20 12:26] fernandospr commented on #145
Thanks @felipecsl.

Unfortunately, the SDK library that that tracks the deeplinks exposes this method:
`AppsFlyerLib.getInstance().sendDeepLinkData(activity)` which internally calls `activity.getIntent().getDataString()` so I won't be able to use `getIntent().getStringExtra(DeepLink.URI)`.

I hope I can do this with the 3.0.0-rc1 version.

[2017-01-21 15:31] OleksandrKucherenko opened #146 "Will be super to extract "match" logic into own re-usable method/class"
I found that it will be very useful to have some simple matches in code, like:

[code]

[2017-01-21 15:36] OleksandrKucherenko commented on #146
use case: declare several deeplink PATTERNs and activity and in code do some easy switch/case/if/else by matching the pattern to deeplink. needed something that can do a simple routing, deeplink lib contains all needed classes and parsing code, but its not ready for re-use inside the app.

[2017-01-21 15:41] OleksandrKucherenko commented on #146
pull request #68 is mostly proposing the same how i see

[2017-01-21 16:01] mapyo commented on #142
ref. https://github.com/hisaichi5518/DeepLinkDispatchDocumentor

[2017-01-21 19:53] felipecsl commented on #146
I'm not sure we want to expose this API since it's not really part of the goal of this library to expose the URI matching API.
I'll keep this open and think about it, but in the meantime you could just copy the relevant classes into your project.

[2017-01-21 20:16] felipecsl commented on #144
This is an interesting approach and it would definitely clean up the ugly repetition in the `@DeepLink` annotations, as you mentioned.
Couple of question:

1. Can you actually declare an `intent-filter` with multiple `scheme`s for the same Activity? I've never tried it, but seems possible;
1. In your example above for `@WebDeepLink`, does that mean that would match any permutation of URIs with the

[2017-01-23 16:48] kxfang commented on #144
1. Yep, definitely possible. We're doing it on our project.
2. Yes in my original example I did intend for it to match any permutation of URIs with the 2 schemes and 2 hosts declared. I can see that might be contentious though, and I would be perfectly happy if it was something like the following, which is a little more verbose but less confusing:
[code]

[2017-01-23 19:24] felipecsl commented on #144
Yeah I feel like the `prefix` option would be simpler/easier to understand. That seems fine by me 😃

[2017-01-24 00:32] kxfang commented on #144
Cool let me look into this

[2017-01-24 00:32] felipecsl commented on #144
Awesome!!

[2017-02-02 21:06] felipecsl commented on #144
Closed via #147

[2017-02-02 21:06] #144 closed

[2017-02-02 21:28] felipecsl commented on #95
It sounds like this has been addressed by #147

[2017-02-02 21:28] #95 closed

[2017-02-02 21:29] felipecsl commented on #90
Fixed in 3.0.0-rc1

[2017-02-02 21:29] #90 closed

[2017-02-03 05:00] kxfang opened #149 "Custom @DeepLinkSpec annotations don't work across modules"
Noticed this while integrating into our project. Doesn't block us, but someone might encounter the problem eventually.

[2017-02-03 23:51] #149 closed

[2017-02-04 10:34] nilesh1433 opened #151 "DeepLinkSpec.java is not available in 3.0.0-rc1"
Hi Please add this java class. Unable to use it while referencing it through gradle.

[2017-02-04 20:27] felipecsl commented on #151
`DeepLinkSpec` has been added in the rc2 release

[2017-02-04 20:27] #151 closed

[2017-02-05 12:13] nilesh1433 opened #152 "Issue deeplink routing for format "http://www.abc.com/xyz/<variable>.aspx""
Hi
Is there a plan to support url deeplinking for pattern "https://test.com/hello/location1-to-location2.aspx". where deeplink url to listen for is "https://test.com/hello/".

[2017-02-05 12:16] nilesh1433 commented on #151
Thanks for the update.

[2017-02-05 19:36] felipecsl commented on #152
That is already supported out of the box. Are you having trouble using it?

[2017-02-05 19:36] #152 closed

[2017-02-07 14:51] bubunyo opened #153 "Support for Kotlin"
How do integrate this library with a kotlin project.

[2017-02-07 18:18] felipecsl commented on #153
It shouldn't matter whether you're using it on a Java or Kotlin project, as long as the annotation processor runs, it should work the same way.

[2017-02-07 18:18] #153 closed

[2017-02-08 12:14] nilesh1433 opened #154 "Deeplink from browser not working"
Hi
I have integrated my app with this version number 'com.airbnb:deeplinkdispatch:3.0.0-rc2'  . Deeplink works when triggered through adb but does not work when same link is opened in browser.

Here is my Manifest declaration:-
[code]
Please let me know, if am missing anything.

Note:- I have not selected any default app to open the link.

[2017-02-09 12:35] OleksandrKucherenko commented on #146
ok, another case to think of:
- my activity contains multiple fragment, and some of the fragments are responsible for processing of the specific deeplinks. How to deliver intent/data/extras to fragments?

Will be great to have code/approach that allows without any custom code forward deeplink to fragments of the activity.

[2017-02-12 06:37] nilesh1433 commented on #154
Hi Guys,
Need solution on urgent basis. It would be great if someone helps me out.

[2017-02-16 15:55] alexfu commented on #154
@nilesh1433 Your `data` tag format is incomplete. You're using **two** data tags, each having what the other is missing. You need to have both `scheme` and `host` in the data tag. https://developer.android.com/guide/topics/manifest/data-element.html

[2017-02-16 16:28] nilesh1433 commented on #154
@alexfu  Hi i forgot to update the code while posting. I did tried with putting host in same data tag, but with no success. It works only when i specify path with it.

[code]

[2017-02-16 16:44] alexfu commented on #154
@nilesh1433 can you post the full `adb` command you were using that worked. also, providing the deep link URLs you're using in the `@DeepLink` annotation would be helpful.

[2017-02-16 17:17] nilesh1433 commented on #154
@alexfu  -

Adb command
adb shell am start -W -a android.intent.action.VIEW -d "https://<my_site>/offers"

@DeepLink("https://<my_site>/offers")
[code]

[2017-02-16 17:22] alexfu commented on #154
@nilesh1433 looks fine to me. when you say

can you clarify? do you mean:

1. when you type `https://<my_site>/offers` into the browser address bar?
2. when you click on a link tag (`<a>`) in the browser that points to `https://<my_site>/offers`?

If you mean 1, then deep linking won't work because the browser is consuming the URL, not the OS.

[2017-02-16 17:24] nilesh1433 commented on #154
@alexfu

It is 2nd case. My site has a offer section. On clicking of this, it gets redirected to /offers.

[2017-02-16 17:25] alexfu commented on #154
@nilesh1433 it might be that the link tag is referencing `/offers` instead of the full URL. not sure if that would make a difference but you can test it by using the full URL.

[2017-02-16 17:26] nilesh1433 commented on #154
@alexfu Can i have your email? I can share more details over email.

[2017-02-16 17:28] alexfu commented on #154
@nilesh1433 lets keep the conversation here in case other people have a similar problem.

[2017-02-16 18:05] nilesh1433 commented on #154
@alexfu Nope not working with full url also. Anything elese which i should look for.

[2017-02-16 19:15] alexfu commented on #154
@nilesh1433 seems I was wrong about your original `data` tags.

[code]

is the same as

[code]

sorry for that. only thing i think of is to make sure the scheme matches up everywhere. make sure that the link you're clicking on in the browser isn't `http` when you want to match on `https`.

[2017-02-16 19:33] kxfang opened #155 "Validation/Default fallback Intent"
Currently individual deep link handler methods/Activities need to do the following manually:

1. Validate the deep link URI
2. Ensure certain pre-conditions are true (e.g. user must be logged in)
3. Be explicitly aware of the fallback Intent to use if the URI is invalid or a global pre-condition is false

It'd be nice if the framework could help reduce that boilerplate. Let me know if this is some

[2017-02-17 04:02] Yanqilong opened #156 "if dynamic to load map table from server, deep link can support it"
if map table dynamic to load from server,  deep link can support it ?

[2017-02-17 09:31] dvdrlee opened #157 "Centralized declaration of links"
Building off @RomainPiel's comment here https://github.com/airbnb/DeepLinkDispatch/issues/31#issuecomment-155389796 specifically the ability to declare links in a centralized place instead of having the annotations spread throughout the app. I'm curious to see if there are any ways to accomplish this now, or if anyone has ideas for implementing something like this in the future.

[2017-02-18 17:51] felipecsl commented on #157
@dvdrlee the DeepLinkDispatch annotation processor will generate "loader" classes for each of your `@DeepLinkModule` annotated classes. The loader(s) will have all your deep links declared in a `REGISTRY` constant. That's an easy way you can see them in a centralized place (given you have your project already built, since the processor needs to run first). Also keep in mind that if you have multip

[2017-02-18 17:51] #157 closed

[2017-02-18 17:52] felipecsl commented on #156
Sorry I can't understand what this issue is about. If you're talking about maybe loading a list of deep links at runtime from an API/web service, then no, we don't plan to support that.

[2017-02-18 17:52] #156 closed

[2017-02-18 18:14] felipecsl commented on #155
Let's see if I understood it correctly:

You mean like a "before deep link" action filter? I imagine you'd be able to declare a class or method to run before any/some of your deep links are triggered, like a "hook" where you can interrupt the deep linking if some global state condition is not met, or the deep link itself is invalid. You should be able to modify the original deep link URI and chang

[2017-02-18 18:25] felipecsl commented on #63
Fixed by #120

[2017-02-18 18:25] #63 closed

[2017-02-20 08:51] pkliang commented on #154
In my case, `pathPrefix` also needs to be set, otherwise it won't work.

[2017-02-20 10:22] Yanqilong commented on #156
ths

[2017-02-23 05:14] kxfang commented on #155
Was thinking we can have the following interface:

[code]

The `Interceptor` returns an `Intent` if it wants to intercept the deep link handling and null otherwise. It can also mutate the parameters map as it likes. If the `Interceptor` returns an Intent, we short-circuit the deep link dispatch process.

When declaring deep links, we can do something like this:

[code]

And for custom deep links,

[2017-02-24 12:48] Vivecstel opened #159 "Custom Loader class"
Is it possible to create custom Loader class ? e.g. to have 2 deep link activities for the same module where each one is responsible to handle their owns deep links.

Thanks

[2017-02-25 04:55] sudikrt commented on #69
how to load deeplink like http://some.com/task?taskid=123455

[2017-02-26 16:55] dlackty opened #160 "Ordering of entries in registry"
For our use cases:

* `/recipes/popular` leads to a list activity
* `/recipes/:id` leads to a single recipe activity

If we annotate two methods with both deep links, we hope the loader can first match `popular` instead of `:id`. There might be other use cases like: `/recipes/:id` v.s. `/recipes/search?q={}`

(Actually we use all of these at the same time)

Possible approach to solve this problem:

[2017-02-28 23:59] felipecsl commented on #154
Seems like there isn't a DeepLinkDispatch issue here? Feel free to reopen otherwise.

[2017-02-28 23:59] #154 closed

[2017-03-01 06:13] willem-h commented on #81
How can I make sure my Intent is being passed through DeepLinkDispatch?

[2017-03-01 07:42] felipecsl commented on #81
@willem-h is this question related to the original issue?
Anyways, answering your question, when you receive the Intent, you can verify whether or not it has been handled by DeepLinkDispatch by doing something like `intent.getBooleanExtra(DeepLink.IS_DEEP_LINK, false)`. If this returns `true`, then it was passed through DeepLinkDispatch

[2017-03-01 16:09] fernandospr opened #162 "Dynamic path matching"
Hi, I have the following urls:

https://www.mycompany.com/products/abc/def/2
https://www.mycompany.com/products/test

Is it possible to create an entry for an activity that would handle both urls?

Something like this:
https://www.mycompany.com/products/{dynamic}

Where `dynamic` could contain slashes and using bundle.getString("dynamic") would return "abc/def/2" for the first example and "test" f

[2017-03-01 23:45] willem-h commented on #103
Is `DeepLinkDelegate` still required in v3? I've tried following all the above steps about compiling it but it never creates that object 🤔

[2017-03-02 03:50] felipecsl commented on #103
Yep, `DeepLinkDelegate` should be generated by the Annotation Processor. Check the sample project in the repository for an example

[2017-03-06 22:49] jonandersen opened #163 "TaskStackBuilder not created"
Currently I'm trying to use the TaskStackBuilder method, but i'm getting a class cast exception:

[code]

Digging into the crash:

[code]

It seems that the TaskStackBuilder has to be from the support library. Is it possible to relax this check or add a different error message?

[2017-03-06 22:52] felipecsl commented on #163
Indeed this needs a better error message. Thanks for the feedback!

[2017-03-08 15:40] BrunoVillanova opened #164 "How to get the Array of Annotated Deep Link URIs?"
Hi,

I need to get a list containing all annotated Deep Link URIs.
Is there any way to achieve this?
I can see that it exists on Loader generated class, but private.

Thanks.

[2017-03-13 08:38] OleksandrKucherenko opened #165 "How to compose a deeplink with parameters programmatically ?"
Hi,

will be great to introduce API that allows to compose deeplink with parameters programmatically...

1) compose deeplink (pseudo code):
[code]

2) trigger deeplink:
[code]

[2017-03-13 17:24] felipecsl commented on #164
Sure we can make the `REGISTRY` public.

[2017-03-13 17:31] BrunoVillanova commented on #164
👍🏻

[2017-03-13 18:18] #164 closed

[2017-03-13 18:56] felipecsl commented on #164
I've just published DLD v3 final with this change

[2017-03-13 19:15] BrunoVillanova commented on #164
Thanks, Felipe!

On 13 Mar 2017 15:57 -0300, Felipe Lima <notifications@github.com>, wrote:

[2017-03-27 11:06] mtiidla commented on #44
Could you please also add a reminder to configure additional Proguard rules when using custom annotations like AppDeepLink and WebDeepLink. We were just burned, so maybe could prevent others from making the same mistake :)

[2017-03-28 20:42] felipecsl commented on #44
@mtiidla do you mind contributing a quick PR?

[2017-03-29 18:56] mtiidla commented on #44
Sure, I will try over the weekend.

[2017-04-02 12:41] jbmlaird opened #169 "incompatible types: List<Object> cannot be converted to List<DeepLinkEntry>"
Upon creating a class and annotating it like below

[code]

when I try to then build the project I get the error:

`Error:(12, 82) error: incompatible types: List<Object> cannot be converted to List<DeepLinkEntry>`

from the `AppDeepLinkModuleLoader` class:

[code]

I'm using the latest version:

[code]

[2017-04-02 13:36] jbmlaird commented on #169
[nandsito](http://stackoverflow.com/a/43168899/4624156) answered this for me [over on StackOverflow](http://stackoverflow.com/a/43168899/4624156)

It won't compile until you add the @DeepLink annotation to an Activity.

[code]

[2017-04-02 13:36] #169 closed

[2017-04-04 14:27] antoine-dbr opened #170 "No extras passed down to the activity when mode=singleTask?"
Hey guys - first kudos on this library ! I am using it heavily in our Android app where we started deep-linking to a bunch of pages.

One minor issue I have is I am sending a deep-link to myself (for some OAuth flow) and the activity that needs to be linked is already around on the navigation backstack and configured as singleTask since I don't want to be created again on the nav stack when firing

[2017-04-04 16:27] felipecsl commented on #170
@antoine-dbr thanks for the detailed issue explanation. one quick question to make sure I understand your problem. You're saying that you're sending a deep link to yourself, apparently from the `shouldOverrideUrlLoading()` method above but any extras in the original intent are getting lost when going through DeepLinkDispatch. Is that correct?
I don't see any extras being added in the snippet above

[2017-04-04 16:48] antoine-dbr commented on #170
Thanks @felipecsl for the quick feedback, if I put a breakpoint in that **shouldOverrideUrlLoading(view, url)** method, the **url** param looks like this:

**tm-snapshot://auth?state=XXXXXXXXXXX&code=XXXXXXXXXXX**

Therefore, based on the doc, I would expect DeepLinkDispatch to deserialize the state and code query params and populate an intent with state and code extras that gets delivered to my *

[2017-04-04 17:15] felipecsl commented on #170
That's correct. You can see that behavior being tested in a unit test [here](https://github.com/airbnb/DeepLinkDispatch/blob/master/sample/src/test/java/com/airbnb/deeplinkdispatch/sample/MainActivityTest.java#L49).
Maybe there's something wrong about your URL. Can you provide a sample one?

[2017-04-04 17:54] antoine-dbr commented on #170
tm-snapshot://auth?state=2490d2b5-f776-4d6e-99d3-6ba9a55e1c95&code=wawQ5wwBDXDA3A4dfpJQq7c7LJ2pSq#_

[2017-04-11 20:07] Diego-Franco opened #172 "Activity between ParseDeepLink Activity and First Activity (e.g Splash)"
i have a question about your library, i'm thinking to use this, but i want to know if is possible to support something like this

**SplashActivity -> CodeActivity -> ParseActivity**

is possible to use this library if i have something like this, the thing is, no matters what, the CodeActivity always is the first activity the user watch.

can you resolve this question please?

[2017-04-11 20:15] felipecsl commented on #172
Yes, you can arrange it however you want. Just annotate your code Activity and handle the deep link as you see fit.

[2017-04-11 20:15] #172 closed

[2017-04-11 20:31] Diego-Franco commented on #172
maybe my question was not good to read.

in this case the CodeActivity doesn't have any deep link so this don't need a annotation, for this the **CodeActivity** always is displayed before to show the others screens, e.g if you press **Home button** or if you click on **Recent activities** and you get a deep link the first screen you will see is the **CodeActivity**

[2017-04-11 20:37] felipecsl commented on #172
For that you can use `android:parentActivityName` in your `AndroidManifest.xml`

[2017-04-12 19:44] ivamluz opened #175 "Unexpected behavior when opening deep links from Google Apps?"
We are facing a scenario that feels like an unexpected one.

In order to reproduce this error, I've modified the sample app a bit in order to navigate from CustomPrefixesActivity to MainActivity. You can check it out from [here](https://github.com/ivamluz/DeepLinkDispatch/tree/googleapps).

With this modified sample app, here are the steps to reproduce:

1. Send through Gmail a deep link that the

[2017-04-13 18:21] ivamluz commented on #175
Found out that adding `android:launchMode="singleTask"` to DeepLinkActivity makes it work as expected, but I'm still unsure about the side effects it may cause.

[2017-04-13 18:29] felipecsl commented on #175
That's an expected behavior. You have to handle task reordering yourself. It's not something that DeepLinkDispatch handles.

[2017-04-13 18:29] #175 closed

[2017-04-16 21:47] Diego-Franco commented on #165
+1 Is necessary for my project too, we have deeplink internally when you click some button

[2017-04-17 18:52] felipecsl commented on #165
Deep links are just regular `Intent`s with the right `Uri` data. You can build them yourself, not sure it's worth implementing an API for this.
Just so I understand, do you want to have a builder that will correctly generate the `"http://foo.bar/{var1}/{var2}"` interpolations so you dont have to do it yourself?

[2017-04-18 11:05] OleksandrKucherenko commented on #165
in short: YES. needed builder that recognize parameters in path and query. Maybe even recognize optional and required parameters.

[2017-04-20 09:48] samy-baili commented on #103
Same issue

[2017-04-20 17:29] rockerhieu opened #176 "Annotation to auto inject value from intent.getExtras() into fields"
Getting deep link parameters from `intent.getExtras()` is quite troublesome. Would be cool if we can do something like this:

[code]

[2017-04-21 13:31] kxfang commented on #155
@felipecsl any thoughts on my proposed approach?

[2017-04-26 02:41] InLook opened #177 "DeepLinkHandler trouble me"
Now I dev  router sdk, I find some thing :
`To solve register sub module deep link by **DeepLinkHandler**.But if sub module is too much. it is trouble. `
I find other way, sub module register by yourself,But This problem is

Waiting for your Help,Thank You
PS：Sorry，Forgive my poor English，My opinion may be clear

[2017-04-26 17:50] felipecsl commented on #177
I'm sorry I can't understand your problem 😢
Please try rephrasing it. Going through Google Translate might help!

[2017-04-26 17:50] #177 closed

[2017-04-26 17:55] felipecsl commented on #155
hey @kxfang sorry for the delay in getting back.
I like the overall idea. Not sure about the naming, `Interceptor` may sound confusing since it's already used by other prominent Android libraries 😃  I think `Hook` or `Filter` may be clearer.
I'd just change the "return null" behavior to return the original intent instead, if you don't want to intercept it. Otherwise all good. This sounds like a gr

[2017-05-03 07:40] Shivam101 opened #178 "iOS equivalent?"
Hello,

I am looking to implement dynamic deeplinks such as the one supported by DeeplinkDispatch in my iOS app as well. Is there an iOS equivalent for this library? Or any other way I can go about implementing this in iOS? Specifically, I would like my deeplinks to be able to route to any screen in the app on the basis of class name.

Thanks!

[2017-05-03 08:40] dudego commented on #178
Hi,
I've made a small project that does this in a similar way. Check this [DeepLinkHandler](https://github.com/dudego/DeepLinkHandler). Hope this helps
Cheers

[2017-05-03 14:26] ivela commented on #178
I use this and works very nice: https://github.com/joeldev/JLRoutes

[2017-05-03 18:04] #178 closed

[2017-05-04 23:02] Diego-Franco opened #179 "Option to choose between Intent or TaskStackBuilder"
Hi, i have a question about the static methods for call/create the activities when deep link is called.

Let me explain a little bit, i have 3 cases

_1. The user has the Application open
2. The user had the Application open but clicked on Home button ( send application to background)
3. The user doesn't have the application open_

for that 3 cases, i have different behaviors, (e.g we'll have one

[2017-05-05 17:19] felipecsl commented on #179
Not sure I understand your question, but whatever return type you set in your deep link method will be the one used by DeepLinkDispatch. If you want to decided that at runtime, that's not possible, because your method return type needs to be known at compile time.
Anyways, I'd recommend posting questions to StackOverflow and keeping this Issues Tracker for bugs and new features 😃 . Good luck!

[2017-05-05 17:19] #179 closed

[2017-05-05 19:37] #163 closed

[2017-05-05 20:29] felipecsl commented on #160
Fixed via #171

[2017-05-05 20:29] #160 closed

[2017-05-19 17:49] renannery commented on #153
@bubunyo It might be useful for you. In your `build.gradle` instead of `annotationProcessor 'com.airbnb:deeplinkdispatch-processor:3.1.0'` use `kapt "com.airbnb:deeplinkdispatch-processor:3.1.0"`

[2017-05-28 01:59] markchristopherng opened #182 "Instant apps ?"
Hi,

We use this framework in our project and it works really well. Google has released a new feature called Instant Apps and i was wondering if the DeepLinkDispatch framework could still be used.
In Instant Apps there are now features where each feature is essentially an entry point and has it own url to activity mapping which is different to DeepLinkDispatch which has a central dispatch model.

[2017-05-30 05:50] droidekas commented on #75
@felipecsl I seem to have a similar requirement. And the form of delegation you mention would not be feasible in my case.
I wanted your inputs on if this is possible? And what would have to be changed in the library for it. (I'd like to pick this up on a PR if you feel this is a valid feature and can be worked on).

[2017-05-30 18:12] felipecsl commented on #75
You should be able to define your deep link constants in separate files per flavor, eg.:

`src/flavor1/java/com/example/DeepLinks.java`
[code]

`src/flavor2/java/com/example/deep_links.java`
[code]

`src/main/java/com/example/SomeActivity.java`
[code]

Would this work for your case?

[2017-06-01 04:35] droidekas commented on #75
My use case is:

The app comprises of 3 modules and an `app` modules:
Each module has deeplinks configured:
The app has 3 flavours which are configured on the app level.
The modules are only available as aars(and hence cannot compile time configurations).
The App would have to propagate the deeplink scheme to different modules.
The Manifest changes can be handled because it would be from the app m

[2017-06-15 12:25] OleksandrKucherenko opened #183 "performance issue: containsInvalidHostnameAsciiCodes"
Original code:

[code]

line with IndexOf call is not optimal.

<img width="960" alt="screen shot 2017-06-15 at 14 24 51" src="https://user-images.githubusercontent.com/6419758/27181120-788ffa82-51d6-11e7-9418-9900e6d282ff.png">

[2017-06-15 12:30] OleksandrKucherenko commented on #183
possible ways to solve:
- compose SparseArray or Map for quick lookup
- sort array of chars and use binarySearch algorithm for validation
- make a switch case for values (compiler will create a lookup map for us than in most affective way): 0x20, 0x23, 0x25, 0x2f, 0x3a, 0x3f, 0x40, 0x5b, 0x5c, 0x5d

[2017-06-15 13:20] OleksandrKucherenko commented on #183
switch/case - gives the best performance

[2017-06-15 13:20] OleksandrKucherenko commented on #183
[code]

[2017-06-15 16:54] felipecsl commented on #183
@OleksandrKucherenko please feel free to send a PR!

[2017-06-22 17:12] carlosrivin opened #184 "Android-apt incompatible with the newest versions of libraries/build tools"
Trying to build a project that with the latests tools now gives us this warning:

It also crashes during build with this message:

`Error:Error converting bytecode to dex:
Cause: invokedynamic not supported
Error:com.android.dx.cf.code.SimException: invokedynamic not supported
Error:	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
Error:	at sun.reflect.NativeConstructorAcc

[2017-06-22 17:26] felipecsl commented on #184
@carlosrivin you shouldn't be using `android-apt` anymore with the latest Android Gradle Plugin versions.
The project README instructions have been already updated a while ago to reflect this:
https://github.com/airbnb/DeepLinkDispatch#usage

[2017-06-22 17:26] #184 closed

[2017-07-04 00:06] SiavashB commented on #103
Same issue, I'm able to get to work in a fresh test project that I created, but can't get the classes to be generated in our real project. I've tried everything mentioned above. Let me know what information you would need to help me debug (build.gradle file, gradle output, etc.)

[2017-07-10 22:40] anujbhargava94 commented on #162
I have the similar scenario which is described as below:
https://www.mycompany.com/products/test
https://www.mycompany.com/products/abc/def/2
https://www.mycompany.com/products/abc/def/2/345/*

Basically after products I can have any number parameters.
Is there a way to handle path pattern here @DeepLink , so that all such url lands at the same activity.

@fernandospr did you find the solution for

[2017-07-11 15:52] Sar777 opened #185 "Gradle. Conflics."
Hi,  i have an error with build gradle

[code]

Andriod Studio 2.3.3
Gradle 2.3.3

what a problem? thx.

[2017-07-11 16:30] felipecsl commented on #185
This is not an issue with DeepLinkDispatch.
You can easily work around the conflict by adding the correct jsr305 version as a test dependency:
`androidTestCompile 'com.google.code.findbugs:jsr305:3.0.1`

[2017-07-11 16:30] #185 closed

[2017-07-11 21:27] SiavashB opened #186 "Proguard removing DLD methods"
I am using the `@DeepLink` annotation on a method as such

[code]

I have this in my proguard rules, as indicated by your instructions:

[code]

but proguard still removes my `intentForTaskStackBuilderMethods`

the only way I was able to get it to work was by adding the `@Keep` annotation above the method.

It seems as if the proguard rule you have noted in your readme, only protects the **class**

[2017-07-23 02:28] wesleybliss commented on #103
FYI With Kotlin, I had to use `kapt 'com.airbnb:deeplinkdispatch-processor:3.1.0'` for the annotation processor to get this to work.

[2017-07-23 13:51] bakua commented on #103
This also happens when using `annotationProcessor` and `apt` at the same time. This situation can happen when you are using an old version of some Gradle plugins. For me, it was an ancient version of Realm.

[2017-08-07 20:41] felipecsl opened #187 "Pass in the full source URL template into receiver's intent extras"
For any `@DeepLink` annotation, we need to pass in the original URL template into the Intent extras of the receiver, so they know which deep link was triggered.
In this case, `com.airbnb.deeplinkdispatch.EXTRA_URI` is not useful since it can't be used for aggregation purposes. That's because any variables in the original URL template would be already replaced with actual values.
Eg.:
* `@DeepLink(

[2017-08-07 22:58] #142 closed

[2017-08-07 23:45] bblia opened #188 "Include host example in the usage doc"
![image](https://user-images.githubusercontent.com/4870878/29050208-5b297102-7b8f-11e7-8132-5af1410de394.png)

In this section of the usage docs, it would be helpful to include an intent filter example with a specified host. I couldn't figure out why my stuff wasn't working until I went through the example and found the correct usage in the manifest file:

https://github.com/airbnb/DeepLinkDispatc

[2017-08-08 20:10] Amarpreet88 commented on #162
@felipecsl is there a fix for this particular issue?

[2017-08-09 01:33] felipecsl commented on #162
@Amarpreet88 not yet. And it's a feature request, really, instead of an Issue. I'll tag it accordingly 😄

[2017-08-09 01:36] felipecsl commented on #188
@bblia a host shouldn't be necessary in order for the deep linking to work.
You can see there is an example with the `dld` scheme where the host is not specified:
https://github.com/airbnb/DeepLinkDispatch/blob/14ebf3eaabb9098366c987f103ab8b1015fce7e6/sample/src/main/AndroidManifest.xml#L41

[2017-08-09 01:36] #188 closed

[2017-08-09 01:37] felipecsl commented on #188
Also some unit tests that verify it works:
https://github.com/airbnb/DeepLinkDispatch/blob/fb53d23dea6f563d50e79e861d68d247dd1f5bfa/sample/src/test/java/com/airbnb/deeplinkdispatch/sample/MainActivityTest.java#L28-L81

[2017-08-09 02:54] bblia commented on #188
is it not necessary for the https scheme? i had to add the host for it to work.

[2017-08-09 03:00] felipecsl commented on #188
nope, the host is not necessary. just the scheme should suffice

[2017-08-09 03:02] bblia commented on #188
I'm at a loss then, because removing it stops functionality on my end. It's included in all the intents with the http/https scheme in the sample app as well...

[2017-08-09 03:08] bblia commented on #188
P.S. those tests are for a custom scheme, not http/https

[2017-08-09 17:13] felipecsl commented on #188
@bblia ah, maybe that's why. It shouldn't matter whether the intent is custom or http/https, but that may be handled by a different application (chrome, for example) and maybe why your app is not receiving the deep link.
You can add a broadcast receiver and see if it receives any events of handled/unhandled deep links. if your broadcast receiver doesnt get called, it means that the intent didn't g

[2017-08-09 17:41] bblia commented on #188
Yep, it wasn't getting routed / triggering the receiver without the host :)
it would just go straight to Chrome.
On Wed, Aug 9, 2017 at 10:13 AM Felipe Lima <notifications@github.com>
wrote:

[2017-08-18 03:31] ericn37 opened #189 "Null/ missing intent extras/ bundle"
This library looks amazing! It's a shame I only discovered this yesterday 😄

My deep link **activity** code:
[code]
**Logcat**:
[code]
**Manifest**:
[code]

I'm not using SingleTask mode
There is no error at all
[code]
I'm using DeepLinkDispatch version 3.1.0
Testing on a Genymotion emulator Samsung Galaxy S5 Android 4.4.4
My build.grade:
[code]

[2017-08-21 20:43] cesards opened #190 "Activity Dispatcher Hook"
Hi guys!

First of all, congratulations and very good job!! This library is really awesome! It should be a must for all apps 🍻 .

I'm using the library as a default navigator for my app, but I've realised there is a case scenario not covered at all. The possibility of having an activity hook, in order to add navigation options like `activity.startActivityForResult` or even adding activity transiti

[2017-08-21 21:05] cesards commented on #190
Related to what I said about the Context, I just realised it's not actually a cast, we are using the `DeepLinkHandler` Activity proxy [approach](https://github.com/airbnb/DeepLinkDispatch/blob/fb53d23dea6f563d50e79e861d68d247dd1f5bfa/deeplinkdispatch-processor/src/test/resources/DeepLinkDelegate.java), so I guess what I'm asking for would be somehow possible?

[code]

[2017-08-21 21:15] felipecsl commented on #190
Hi Cesar!

If I understood correctly, what you want is already possible. When your `public static` method annotated with `@DeepLink` is called, the `Context` parameter is actually an `Activity`, so it's safe to just cast it like below:
[code]
We could probably allow using `Activity` as the method parameter instead, since it's already possible today.

[2017-08-21 21:15] #190 closed

[2017-08-21 21:20] felipecsl commented on #189
Hi @ericn37 !

Seems like you have some missing pieces. In order for DeepLinkDispatch to work correctly, you need an activity that will work as the entry point for any deep links incoming to your application.
See the [sample activity](https://github.com/airbnb/DeepLinkDispatch/blob/master/sample/src/main/java/com/airbnb/deeplinkdispatch/sample/DeepLinkActivity.java) for an example.
Also make sure

[2017-08-21 21:20] #189 closed

[2017-08-22 04:03] ericn37 commented on #189
Hi @felipecsl , I've read your __Usage__ section. It's a bit confusing at first @_@

I've changed my DeepLinkActivity to as follows but `DeepLinkDelegate` class is not being generated:
[code]
Of course, I've cleaned and rebuilt the project a couple of times.
Do you know what I've done wrong?

My AppDeepLinkModule:
[code]

[2017-08-22 06:41] ericn37 commented on #103
I can't get the DeepLinkDelegate to be generated either

[code]
Of course, I've cleaned and rebuilt the project a couple of times.
I also ran ./gradlew assemble --info --stacktrace
Do you know what I've done wrong?

My AppDeepLinkModule:
[code]

My build.grade:
[code]

[2017-08-22 06:58] felipecsl commented on #103
you need at least one activity and/or method annotated with `@DeepLink`, otherwise the processor won't run

[2017-08-22 07:00] felipecsl commented on #189
See my comment on #103 for how to fix it :) https://github.com/airbnb/DeepLinkDispatch/issues/103#issuecomment-323936982

[2017-08-22 07:59] ericn37 commented on #103
Hi @felipecsl , I do have such activity indeed, I've updated my comment above

[2017-08-22 17:15] felipecsl commented on #103
@ericn37 hmm your code looks fine I think. If you want to send a test project, I can take a look into what's going on

[2017-08-30 20:23] budioktaviyan opened #193 "[Kotlin][Kapt] "Only static methods can be annotated with @DeepLink""
The following issue was happen because of the **annotation processor** can't read the _static object_ inside a kotlin class, even if you're already using the [companion object](https://kotlinlang.org/docs/reference/object-declarations.html). For example like this;

[code]

Apart from that, you can **only use the Kotlin Top-Level Function** like in this example;

[code]

[2017-08-31 02:59] ayushkhare opened #194 "Parsing a Uri containing "&""
I have a url like **https://www.foo.com/category/brow-&-lash**

But,
**DeepLinkEntry entry = loader.parseUri(uriString);**
always returns null

Is there a workaround for this?

[2017-09-03 17:02] itsAlexNguyen commented on #103
I having the same issue, I can find it in a test project but when I run it into a real application my Android Studio cannot find it. Are there any other external dependencies that might be conflicting with DeepLinkDispatch ?

[2017-09-04 20:30] felipecsl commented on #103
We used to have an conflict with the AndroidAnnotations library that was reported long ago, but I'm not sure if that still exists. Try running gradle with `--info` or `--debug` to see if there are any errors logged. If you want to share a project with the issue, that would help with diagnosing it

[2017-09-04 20:32] felipecsl commented on #193
@budioktaviyan thanks for reporting! Do you know of any other way this could be fixed? Otherwise we should add a comment to the readme explaining this.

[2017-09-04 20:49] itsAlexNguyen commented on #103
@felipecsl Found out that I needed to add DeepLinkDispatch in the build.gradle file in all the modules even if one of the dependencies/modules had already added DeepLinkDispatch.

[2017-09-04 20:58] felipecsl commented on #103
yep, the `annotationProcessor` dependency needs to be included in every module. Glad found out!

[2017-09-09 06:11] Schinizer commented on #193
The following have worked for me in kotlin.
[code]

[2017-09-12 10:25] budioktaviyan commented on #193
@felipcsl thanks for acknowledge my question. and yes it is just a workaround from me, also @schinizer has mention it he is using the similiar way as I did

[2017-09-13 11:57] danilolapegna opened #198 "DeepLinkProcessor overrides previous intent flags"
I can see that the DeepLinkProcessor file has in its code, line 527:

`.addStatement("newIntent.setFlags(Intent.FLAG_ACTIVITY_FORWARD_RESULT)")`

Shouldn't it be "addFlags" instead of "setFlags"? The setFlags overrides any other flag I could have previously added to an annotated intent (ex. Intent.FLAG_ACTIVITY_CLEAR_TOP, Intent.FLAG_ACTIVITY_SINGLE_TOP, etc.)

[2017-09-13 17:18] #193 closed

[2017-09-19 13:34] 4gus71n opened #200 "Extending DeepLink annotations"
I have two screens (activities) working under A/B tests. They should share the same deeplink, the only difference is that if a feature flag is enabled, it should show one activity and if not, show the other.

How can I extend the annotations in order to implement this?

Ideally I would like to have something like:

[code]

[code]

Then implement the logic to grab the feature flag value in the load

[2017-09-20 01:32] tarunattri opened #201 "Parsing a URI containing #"
**I have a url like https://www.abc.foo.com/category/#/1234**

Which i parse like :
`@DeepLink("https://{env}.foo.com/category/#/{id}")`

But,
[code]

always returns invalid value.

But this works if i put the number before # as

Which i parse like :
`@DeepLink("https://{env}.foo.com/category/{id}/#")`

**Changed URL looks like I have a url like https://www.abc.foo.com/category/1234/#**

Now it wo

[2017-09-20 01:44] #201 closed

[2017-10-06 09:20] joluet commented on #103
Would be good to mention in the readme that this should be used with Kotlin:
[code]

[2017-10-09 08:26] joluet opened #202 "Custom annotations not working in Kotlin"
I'm trying to use custom annotations on top-level methods in Kotlin. Unfortunately, they don't work. No `DeepLinkEntry`s are generated for them. Only if I annotate at least one static method in a Java class too the correct `DeepLinkEntry`s are generated.

My custom annotation looks like this:
[code]
and the annotated top-level method looks like this:
[code]

[2017-10-18 19:30] MisterRager opened #203 "Build Warning For DLD Options"
When I add the suggested lines to configure output to my `build.gradle`, I get a new warning:

[code]

The lines are these:
[code]

[2017-10-20 02:21] felipecsl commented on #203
What version of deep link dispatch are you running?

[2017-10-23 23:14] MisterRager commented on #203
`3.1.0`

[2017-10-24 21:43] #203 closed

[2017-10-26 21:02] DSteve595 opened #205 "Add support for trailing slashes"
Our site can expose the same page with or without a trailing slash. e.g.:
`https://site.com/content`
and
`https://site.com/content/`

The `prefixes` parameter in `@DeepLinkSpec` has been immensely helpful for reducing duplicated paths, but we still have to duplicate each one with a trailing slash. It would be nice if they could be handled by DeepLinkDispatch.

[2017-11-04 09:56] bangarharshit opened #206 "Using intent provider instead of using reflection to generate intent"
Reflection is currently used to generate the intent in `DeepLinkDelegate`.

[code]

Why not use a cache of IntentProvider?
[code]

`DeepLinkEntry` can then use provider instead of the method name.

[2017-11-06 01:14] JeckChou opened #207 "customized method for deep link handler"
the deeplinkdispatch is a good library  and I was used it in my project.  in my case , I want do something before intent submit via startactivity, but I have find no method for my case. I have to return a intent immediate. eg. I want to request data from network and start different activity with network data.
can this library support this case on next plan.

[2017-11-06 06:08] bangarharshit opened #208 "Retrofit style API for parsing extras"
Retrofit has an API:
[code]

A similar API for parsing parameter is:
[code]
The advantage of using this approach:
1. The compiler knows the type of param1 in a bundle and so we can add PreConditions.
2. Stricter check on param1. Currently, if param1 is renamed to param2 it fails at runtime. In the new case, the build fails.

While the system can be extended to arbitrary types with the help of dese

[2017-11-07 05:25] seojiju opened #209 "when using v3 DeepLinkDispatch lib, only annotation DeepLinkHandler use?"
hi there,

i want to one deeplink - one activity call.

but when i`m tried default example. I did not do the action I wanted.

DeepLinkDispatch on run activity but it don`t recognize PathParam and is_deep_link flag.

currently, i don`t use DeepLinkHandler. is this the cause?

The sample project seemed to work even without it.

what should i do?

[2017-11-21 03:14] seerazz commented on #186
@SiavashB i have the same problem too, adding the `@Keep` annotation on the method solve the problem

[2017-11-24 01:54] felipecsl commented on #186
This is something that needs to be addressed by consumer applications, the library's Proguard settings won't be able to account for Activity annotated methods.

[2017-11-24 01:54] #186 closed

[2017-11-27 11:51] devanshuk opened #210 "Are dynamic hostnames based on a pattern supported?"

[2017-12-01 09:25] sumincy opened #211 "hey"
com.airbnb.deeplinkdispatch.sample.library.LibraryDeepLinkModuleLoader
does  not exist

[2017-12-01 23:13] felipecsl commented on #211
Check your `annotationProcessor` gradle dependencies and make sure your classes are annotated correctly. Please refer to the Readme for more info or Stack Overflow for questions

[2017-12-01 23:13] #211 closed

[2017-12-20 13:42] remicoges opened #212 "Activity is launched correctly but cannot get variable"
Hello,

I am using this library to launch a particular activity on click of a

 link

The activity I need to launch on click

[code]

My Deeplink activity

[code]

The deeplink module
[code]

My PartyActivity

[code]

With this code, the PartyActivity is launched but idString is null.
Is there something I do wrong or is it a library's bug?

thanks !

[2017-12-21 10:14] #212 closed

[2017-12-22 03:01] ChengangFeng commented on #91
@mrudult how can I move the strings to `Config` ?

[2018-01-04 16:44] andretietz commented on #210
I am also searching for a solution like this. My multiflavored app needs a different scheme as well as a different hostname.

[2018-01-24 06:43] coder-xiaoshuai opened #214 "the value of intent.getBooleanExtra(DeepLink.IS_DEEP_LINK, false) is false? And if i want get the parameter from “test://example.com/deepLink/{id}” what should i do"

[2018-01-24 06:54] felipecsl commented on #214
The project includes a sample application that you can use for reference usage.
Please refer to the README.md file for more info or stackoverflow.com for questions

[2018-01-24 06:54] #214 closed

[2018-02-23 14:39] mtiidla opened #215 "Is it still true that "Intent Filters may only contain a single data element for a URI pattern"?"
The readme specifies that:

Following that advice explodes the AndroidManifest.xml a few hundred lines in our case. We have tried to use only two intent filters, one for http|s links and one for in-app links and everything works.

Have we misunderstood what you mean by "URI pattern" or is that note outdated to an older version of DeepLinkDispatch?

I can also see in the demo app that multiple data

[2018-04-09 18:39] felipecsl commented on #209
Please keep this issue tracker for bugs and feature requests only. You can ask questions on Stack Overflow. Thanks :)

[2018-04-09 18:39] #209 closed

[2018-04-10 08:14] droidekas opened #217 "Get the parsed intent from DeeplinkDelegate"
Hi,

Is there a way to get the parsed intent from DeeplinkDelegate? I am interested in getting the intent for a deeplink and then performing different functions.
The current deeplink delegate does not seem to be supporting that. I presume this is by design  to keep the API simple.  But is this a valid usecase?

[2018-04-16 15:22] droidekas commented on #217
Yes. I currently have an implementation which implements the functionality of a `DeeplinkDelegate` that the library generates to cater to the requirements I have. If the library owners feel it appropriate I'd love to formalize the API a bit more and contribute for the same.

[2018-05-14 02:01] amitks2015 commented on #38
I get ActivityNotFoundException for this very same setup. As I use AndroidAnnotations library, the activity is defined as MainActivity_ in the manifest.

This problem seems to be basic, do we have a solution for this? Or we can not use AndroidAnnotations with DeepLinkDispatch?

[2018-05-14 05:13] amitks2015 opened #218 "Is this library compatible with AndroidAnnotations library ?"
Hi,
I want to add Deep linking feature into my project which already uses the [AndroidAnnotations](https://github.com/androidannotations/androidannotations) library. After integrating DeepLinkDispatch library with my app it crashes when I test it by adb command, throws an `ActivityNotFoundException`.

The crash is obvious as AndroidAnnotations generates a new file(let's say MainActivity_ for the a

[2018-05-17 13:33] fdonzello commented on #103
And double check that you have `apply plugin: 'kotlin-kapt'` in your app build.gradle file

[2018-05-22 18:48] TinasheMzondiwa commented on #210
Any solution to this yet?

[2018-05-23 01:18] JeckChou commented on #210
my solution is like below, wish can  help you

@DeepLinkSpec(prefix = {
        "http://hostname1.example.com/xxx",
       "https://hostname2.example.com/xxx",
      ......
})
public @interface WebDeepLink {
    String[] value();
}

[2018-05-24 11:10] marcosalis commented on #210
I have the same requirement, but the hostname is also known at runtime, depending on our app's customer.
Is there a way to ignore the hostname at all?

[2018-05-31 12:48] gurappa opened #220 "Links survives through app relaunch"
We use this lib in our app.
1. Kill app
2. Launch app with deep link. That opened, say, a dialog on top of activity.
3. press back key on app and close it.
4. Launch it again through Recent Tasks.
Dialog shows up again. Repeat steps, it shows up again.
I think this is because on back key, process is not dead and activity has overrides onSaveInstanceState() and onRestoreInstanceState(). I see in on

[2018-06-19 13:08] forkch opened #222 "Support for AndroidX"
We use your library in our app. Any plans to migrate it to AndroidX?
Some of the generated code contains references to the old support library package structure.

[2018-07-03 06:14] satyarths opened #225 "Allow specifying Deeplink classes included in the DeeplinkModule"
I'm not sure if this is valid UseCase.  But I essentially want to be able to specify which classes a deeplink module included based on certain runtime configurations(RemoteConfigs).Since the DeeplinkHandlers are picked up per module and the DeeplinkModuleLoader is generated, is there a way I can have swap out `DeeplinkModuleLoaders`(If I can specify which classes to use) to be used

[2018-07-03 09:54] ARNAVbot opened #226 "URL encoding before parsing"
I have a use case in which I have a url with a special character in its path (something like https://host.com/#/path/{path_id} ). Now if I declare a url with something like this, https://host.com/#/path/{path_id} with @DeepLink annotation , the everything after # is regexed into "$", hence i am not able to separate out the path_id from it. Therefore, it is defeating the entire purpose of using thi

[2018-07-12 06:49] okasurya commented on #217
I think this is a great idea. Also, this could be an alternative for android navigation, especially when you have multiple modules on your project. I have created a simple implementation for this, you can check it here: https://github.com/okasurya/DeepLinkDispatch/commit/f95d0d3c3667510b0ea57c2b97ad83a8e653700e

[2018-08-11 04:33] baoti opened #227 "How to prevent unsafed intent key override"
If I don't check intent key `DeepLink.IS_DEEP_LINK`, how can I safe start a deep link url come from an external app?

[code]

How can I prevent `DeepLinkDelegate` override the key `id` to a `String` value?

[2018-08-18 00:43] hetang commented on #144
@felipecsl How to support multiple subdomain in prefix? I do not see any documentation related this. Can you please help me here?

[2018-08-20 15:08] ilyaklyukin commented on #218
I've implemented some workaround for using AA + DeepLinkDispatch.
Trick is in replacing intent target with AA one.

`@DeepLinkHandler({AppDeepLinkModule.class})
public class DeepLinkActivity extends AppCompatActivity {

    private static final String ANDROID_ANNOTATIONS_SUFFIX = "_";

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState)

[2018-08-24 19:36] nairboh opened #228 "Unable to create instance of DeepLinkDelegate or BaseDeepLinkDelegate()"
Hi there, following instructions on the readme, I wanted to setup the dispatcher activity, however I am unable to reference either classes. I can see the classes inside `deeplinkdispatch-base`, but not `deeplinkdispatch`

Was there something else that I needed to include other than:
`implementation 'com.airbnb:deeplinkdispatch:3.1.1'`
`kapt 'com.airbnb:deeplinkdispatch-processor:3.1.1'`

Thanks

[2018-08-24 19:51] nairboh commented on #228
Nevermind, I see now that it's a generated file 😅

[2018-08-24 19:51] #228 closed

[2018-09-01 02:37] iam1492 commented on #222
+1 same with me

[2018-09-01 12:05] tallnato commented on #222
I think there is already support for that, if you check the last commit in master.

They just need to release it 🙏

[2018-09-12 20:58] rossbacher commented on #222
AndroidX support is merged on master. Please build the lib and give it a spin. We were not able to fully test all of the new changes here yet and I'm a bit hesitant to release it without having done so.

[2018-09-12 21:00] rossbacher commented on #222
And please leave feedback about it here, either if it all works or if you found issues with it, the more we know the quicker we can release it with AndroidX support. Also thx to @carvaq for creating the AndroidX PR!

[2018-09-14 22:36] #187 closed

[2018-09-14 22:37] rossbacher commented on #187
Has been fixed by https://github.com/airbnb/DeepLinkDispatch/pull/229

[2018-09-25 17:15] bblia commented on #222
i'm getting a failed build because it can't find the class for this import in DeepLinkDelegate.java:

[code]

it looks like it needs to be `import androidx.localbroadcastmanager.content.LocalBroadcastManager`

[2018-09-26 22:35] rogerhu commented on #222
Here is a breaking bug report for Google: https://issuetracker.google.com/issues/116745353

The workaround is to use https://github.com/airbnb/DeepLinkDispatch/pull/230.

[2018-09-27 11:57] okarakose commented on #208
Any progress on this ?

[2018-10-02 13:48] mochadwi commented on #154
The deeplink also not working for native browser (default browser from android) and chrome custom

@felipecsl @alexfu @nilesh1433

[2018-10-06 10:40] bangarharshit commented on #208
I had a version locally but never sent a PR. I wanted to gauge interest before contributing to it. Closing it.

[2018-10-06 10:40] #208 closed

[2018-10-08 08:59] anjalsan commented on #222
@rogerhu What is the workaround for AndroidX?

[2018-10-08 18:39] rogerhu commented on #222
Until this library is released and/or this PR (https://github.com/airbnb/DeepLinkDispatch/pull/230) is merged, you can use JitPack.io with my forked branch:

[code]

Then add:

[code]

[2018-11-02 18:18] anshu7vyas commented on #155
This is exactly what I need for my project. Any updates on this feature?

[2018-11-05 14:47] dazza5000 commented on #162
meow

[2018-12-06 06:55] ron-steiner commented on #222
Hi there
using 3.1.1, I can see that #230 is merged and the generated `DeepLinkDelegate` class (DeepLinkDelegate.java) still imports

`import androidx.core.content.LocalBroadcastManager;`

when it should be
`import androidx.localbroadcastmanager.content.LocalBroadcastManager;`

major blockage for us as we migrate to AndroidX.

Any advice?

[2018-12-06 18:26] prsolucoes opened #235 "How to make request before show Activity to the user?"
Hi,

How to make request before show Activity to the user?

In our Activity we have several deeplinks for it, but some deeplinks we need make some HTTP requests to get content data and all library examples i need return an Intent immediately.

Example of what we want do:

[code]

Can anyone help me?

[2018-12-06 18:31] felipecsl commented on #235
Questions are best suited for Stack Overflow. Please keep this to track issues and/or bug fixes only 😄 thank you!

[2018-12-06 18:31] #235 closed

[2018-12-07 21:48] diegoescudero commented on #222
@ron-steiner
Seeing the same issue here as well, even with PR 230 merged. Will update if I find anything useful.

[2018-12-07 21:54] rogerhu commented on #222
It hasn't been released yet.  Use https://github.com/airbnb/DeepLinkDispatch/issues/222#issuecomment-427938402 to test.

[2018-12-14 00:59] theo744 commented on #210
Hi,
Do we have news on this matter ? I'm also interested in the possibility of ignoring hostname or part of the hostname (such as subdomain).
Best,
Theo

[2018-12-17 16:39] Hiwensen commented on #207
I also met this case in our project, have you solved this yet or something new？ @JeckChou

[2018-12-20 15:23] alexfu opened #236 "Better generated documentation format"
The generated documentation (`deeplink.txt`) is far from readable. Is it markdown? Any markdown parser I've used, spits out the same ugly text with actual newline characters (`\n`) instead of a new line.

Here is an example output after giving it to a markdown parser:

<img width="750" alt="screen shot 2018-12-20 at 10 25 56 am" src="https://user-images.githubusercontent.com/987398/50293494-b9e9bf

[2018-12-20 15:50] Hank-Leafly commented on #236
Seconded. The generated doc is virtually unreadable.

[2018-12-20 19:41] felipecsl commented on #236
I agree. This should be addressed by #213 though

[2018-12-24 06:41] radityagumay commented on #222
https://github.com/airbnb/DeepLinkDispatch/issues/222#issuecomment-427938402 did the trick. Thanks

[2018-12-24 08:16] radityagumay commented on #222
@rogerhu did not work for me.

@diegoescudero do you solve this issue?

[2018-12-24 08:50] radityagumay commented on #222
@ron-steiner https://github.com/airbnb/DeepLinkDispatch/issues/222#issuecomment-444768093 i got the same. didnt work also for me.

@diegoescudero any update?

[2018-12-24 17:31] rogerhu commented on #222
Use this instead:

[code]

And your build.gradle:

[code]

[2018-12-24 19:00] diegoescudero commented on #222
@radityagumay

I ended up using a specific commit, because I want predictable builds.

[code]

[2018-12-27 05:09] radityagumay commented on #222
@rogerhu thanks man it works https://github.com/airbnb/DeepLinkDispatch/issues/222#issuecomment-449757686

[2019-01-16 14:57] Gnzlt commented on #217
This would be really useful

[2019-01-29 22:43] rossbacher commented on #222
Fixed with release of 4.0.0: https://github.com/airbnb/DeepLinkDispatch/releases/tag/4.0.0

[2019-01-29 22:43] #222 closed

[2019-01-29 23:55] bblia opened #243 "Issues upgrading to v4.0.0"
Trying to update to v4.0.0 based on https://github.com/airbnb/DeepLinkDispatch/issues/222#issuecomment-458737266

but getting the below exceptions causing gradle sync to fail:

![image](https://user-images.githubusercontent.com/4870878/51948662-3c20b880-23de-11e9-82b1-4f92240ad597.png)

[2019-01-29 23:57] ron-steiner commented on #222
Super-good news :) thanks!

[2019-01-29 23:58] bblia commented on #222
https://github.com/airbnb/DeepLinkDispatch/issues/243

[2019-01-30 00:03] felipecsl commented on #243
did you forget to add `mavenCentral()` to your gradle dependencies?
I can see the archives there already http://repo1.maven.org/maven2/com/airbnb/deeplinkdispatch/4.0.0/

[2019-01-30 00:31] rossbacher commented on #243
I didn't anticipate how long the sync can take and published the release on github a bit prematurely. It should all be good now.

[2019-01-30 00:35] rossbacher commented on #243
Actually I see there is a problem with the release. :-( Investigating right now.

[2019-01-30 00:35] bblia commented on #243
![image](https://user-images.githubusercontent.com/4870878/51950072-e8b16900-23e3-11e9-9567-0f02de35c257.png)

[2019-01-30 00:36] bblia commented on #243
Appreciate it -- thank you!

[2019-01-30 01:00] rossbacher commented on #243
Fixed with https://github.com/airbnb/DeepLinkDispatch/pull/244

[2019-01-30 01:00] #243 closed

[2019-01-30 01:11] rossbacher commented on #243
4.1.0-SNAPSHOT is already available and I verified the fix. I just published 4.1.0 but it might take a while until it is synced to central.

[2019-01-30 01:20] ron-steiner commented on #243
spot on @bblia

[2019-01-30 01:34] bblia commented on #243
Still not seeing it but i'll wait a while longer -- I shouldn't need mavenCentral() if i have jCenter() right?

[2019-01-30 01:41] rossbacher commented on #243
I just build our app with it

I just build it with right now. And it is here: https://repo1.maven.org/maven2/com/airbnb/deeplinkdispatch/

[2019-01-30 01:45] bblia commented on #243
YAY it works here now as well. Thank you very much @rossbacher !!

[2019-04-02 00:14] markchristopherng opened #247 "Incremental annotation processing"
Hi,

Does this project support incremental annotation processing? If not are there any plans to support it to help improve build speed.

[2019-04-19 10:38] xiaoying599 opened #250 "Recommended to use this moblink, it is free"
The scene restoration solution can break the application island and realize the seamless link between the web and the app, allowing the apples to seamlessly jump, enhance the user experience and enhance the activity of the app.
https://github.com/MobClub/MobLink-for-Android

[2019-04-19 14:06] IordacheClaudiu opened #251 "Does DeepLinkDispatch uses Branch IO SDK?"
Hi,
We have an issue on Google Play Store with our app and I was wondering if you're using `Branch IO SDK` or calling  `https://api.branch.io/v1/applist`?
Thanks.

[2019-04-19 16:55] #250 closed

[2019-04-19 17:01] felipecsl commented on #251
This library does not depend on any external/third party SDKs

[2019-04-19 17:01] #251 closed

[2019-04-22 07:34] minUswachoke opened #252 "Problem Restarting Intent with Instrumental Testing"
Having trouble performing instrumental Testing on this deeplink libs. It seem each test scenario  doesnt kill the application after performing the test. For example ATest.kt contain three test scenario. Each test login the user, however the user is still login after the first test. Causing an error to other test scenario.

[2019-04-22 21:10] felipecsl commented on #252
Questions are better suited Q&A websites like stackoverflow.com
Please keep this issue tracker for bugs and features only 😄 thanks!

[2019-04-22 21:10] #252 closed

[2019-04-25 21:21] kraghu opened #253 "To get Deeplink path String without host name"
Hi there,
Is there a way to get just current  path name out of the deep link url without host name ? I don't wanna use string manipulation . For example ,
[code]
Is there a way to just get the  path name **/help** without the **airbnb://**  or **https://airbnb.com**? we already annotate **_/help_** as `weblink` and `applink` right now on the activity class. Right now am using String manipulation t

[2019-04-26 17:59] kraghu commented on #253
@schleyfox @mcharkov any idea ?

[2019-04-27 12:36] felipecsl commented on #253
You can use `java.net.URL` to parse the String into an URL object and then call `getPath()` on it.

[2019-04-27 12:36] #253 closed

[2019-05-15 13:01] linhou opened #254 "this library what to do"
@DeepLink("foo://example.com/methodDeepLink/{param1}")
public static Intent intentForDeepLinkMethod(Context context) {
  return new Intent(context, MainActivity.class)
      .setAction(ACTION_DEEP_LINK_METHOD);
}

this ，  I know I want to startActivity is MainActivity  ，I don't know  this code  want to express mean？？？？

[2019-05-15 18:57] felipecsl commented on #254
Please provide a meaningful explanation of the issue you're having and how to reproduce it.
Questions are better suited for stackoverflow.com

[2019-05-15 18:57] #254 closed

[2019-06-05 19:14] MohamedElidrissi opened #255 "Support dynamic feature modules"
Currently there's no way to use DeepLinkDispatch in a modularized Android project where we have multiple feature modules since if we have our `@DeepLinkHandler` Activity in the base module and we want to add a `@DeepLinkModule` annotated class that resides in a feature module we can't as the base module doesn't depend on the feature modules.
if there is a workaround for this feel free to close thi

[2019-06-07 12:30] MohamedElidrissi commented on #255
Since nobody seems to care about this, I dug into DLD and I found a way to workaround this by making a `CustomDeepLinkDelegate` class that accepts a `List<? extends Parser>`  directly, this makes it possible do use dependency injection to pass a `List` of `*DeepLinkLoader` classes instead of depending on the generated `DeepLinkDelegate` that forces the use of the `@DeepLinkHandler` thus making it

[2019-06-07 17:48] MohamedElidrissi commented on #255
After trying out the above it does work fine, however looking at all the boilerplate and reflection this not something I'd consider for a production app., so this issue remains open
![Annotation 2019-06-07 174529](https://user-images.githubusercontent.com/45264848/59123136-14250100-894c-11e9-8dad-fa37b2dede9d.png)

![Annotation 2019-06-07 174735](https://user-images.githubusercontent.com/45264848/

[2019-06-11 16:13] leanh215 commented on #255
Facing same issue. Waiting for someone come to rescue

[2019-06-12 02:49] leanh215 commented on #255
Basically use reflection to get Loader and add to a `BaseDeepLinkDelegate` is not big issue. I tested with below code and it worked well
`@DeepLinkHandler(AppDeepLinkModule::class)
class DeepLinkActivity : Activity() {

    companion object {
        const val DYNAMIC_DEEPLINK_LOADER = "com.vingroup.vinid.dynamicfeature.deeplink.DynamicDeepLinkModuleLoader"
        const val DYNAMIC_DEEPLINK_LOADE

[2019-06-14 16:49] #255 closed

[2019-06-21 10:09] mamatagelanee07 opened #256 "Android X Support"
We are trying to move to AndroidX and we added DeepLinkDispatch for Deep Linking Screen.

`

^`

Seems like method, `intentForTaskStackBuilderMethods()` needs `android.support.v4.app.TaskStackBuilder` and Android X has `androidx.core.app.TaskStackBuilder`

Can we add support for AndroidX library?

Feel free to ask for more information and also if anything I missed :)

[2019-06-21 10:16] mamatagelanee07 commented on #256
Found already has support in `4.0.0` hence closing the issue 👍

[2019-06-21 10:16] #256 closed

[2019-07-22 10:28] markchristopherng commented on #247
@elihart I am just wondering if you will have time to look into this, since you mentioned that it might not require a code change?

[2019-07-25 00:04] theo744 opened #257 "URL starting with {param}-"
Hi,
I have an issue with an url starting with {param}-

For example : https://domain.app/7-something
I can't catch it with @DeepLink("https://domain.app/{id}-something")

If I change the URL to:
https://domain.app/7/something
I can catch it with @DeepLink("https://domain.app/{id}/something")

Why is that ?

Theo

[2019-08-28 21:24] kraghu commented on #247
Has any one have a solution to this ? We are unable to update our libraries because of this

[2019-08-29 08:03] NurseyitTursunkulov commented on #194
you should change "&" to %26

[2019-09-03 04:43] felipecsl commented on #194
As already stated, just URL-escape it

[2019-09-03 04:43] #194 closed

[2019-09-15 14:46] mrnorouzi opened #258 "build failed in version 4.1.0 with kotlin.KotlinNullPointerException"
When I update version from 3.1.1 to 4.1.0 for supporting androidx, the build failed with the following exception:
[code]

code of my project is **java**. It hasn't been written by kotlin

[2019-09-15 15:46] #258 closed

[2019-10-07 12:47] ghiyatshanif commented on #202
is there any updates regarding this? how did you solve it @joluet

[2019-10-07 23:59] adellhk opened #261 "Does DLD prevent duplicated matches for one URI?"
Does DLD have guarantees to prevent registering duplicate `DeepLinkResult`s in its app-wide registry of deep links?

For context, see @rossbacher and my discussion in this [comment](https://github.com/airbnb/DeepLinkDispatch/pull/260/files/7085625781a2b64e8b1c429e96d40d7aa265bf5f#r332197952).

[2019-10-17 23:22] matthewrkula commented on #202
@ghiyatshanif make sure the method is in an `object` then annotate it with the `@JvmStatic` annotation

[2019-10-28 16:39] Ghedeon commented on #70
Any workarounds how to handle this in `DeepLinkDispatch` in case the old app was already supporting `app://` and it's not possible to change it at the moment?

[2019-10-29 14:31] Ghedeon opened #263 "How to map one link to another?"
Let say there are multiple external links that resolve to the same app link.
Ex:
`www.foo.com/home -> app://home`
`www.foo.com/dashboard -> app://home`

Yes, we can list them all in `@DeepLink` annotation but in case we have some Uri pattern matching logic in the activity, we'd need to parse all of them. It would be much easier to just rethrow the app link, so it becomes a single source of truth,

[2019-10-29 14:55] Ghedeon commented on #263
This seems to be working:
[code]
Is that ok to override `DeepLink.URI` like this?

[2019-10-31 11:03] Ghedeon opened #264 "onActivityResult not called in DeepLinkActivity"
Is there anything special about doing `startActivityForResult` in `DeepLinkActivity`? For some reason, `onActivityResult` is never being called.

To provide some context, the usecase I'm trying to solve is:
1. Catch the deeplink Uri
2. Start authentication flow with `startActivityForResult`
3. Come back to `onActivityResult` and dispatch the original Uri.

[2019-11-05 15:38] marcosalis commented on #247
Anything new on the above? We're unfortunately blocked on using incremental annotation processing with `kapt` because of the library.
Thank you! 🙏

[2019-11-10 08:04] radityagumay commented on #247
Hi any updates on this?

[2019-11-11 15:23] elihart commented on #247
When there is an update it will be shared.

In the meantime, feel free to contribute a PR to add incremental support if you want it. It should be fairly straightforward - I believe this would simply be an aggregating processor

[2019-11-15 23:03] benjamin-bader commented on #247
I just took a stab at this, and I don't believe it will be simple.  The issue is that aggregating processors may only support annotations with `CLASS` or `RUNTIME` retention.  Any processors declaring themselves to be aggregating, and which declare support for `SOURCE` annotations, will cause a build failure.

That's the case with the `DeepLinkProcessor`.  It declares support for `"*"`, which mean

[2019-11-18 19:22] LachlanMcKee commented on #247
I believe I have a solution for making the processor incremental (aggregating): https://github.com/airbnb/DeepLinkDispatch/pull/266

This would require users to specify their custom annotations within the build.gradle. Currently I have made it mandatory in the PR, but it could be an optional feature that allowed developers to opt-in to incremental processing.

[2019-12-01 21:34] LachlanMcKee commented on #247
In case anyone is interested, I have compiled the binaries on Jitpack (hopefully that's okay). I've tested it out in my current project, and it works a treat :)

[code]

[2019-12-03 16:40] benjamin-bader commented on #247
@elihart in the absence of any comment from the colleagues you've repeatedly mentioned, can you provide any feedback on the linked PR?  Can you say why it hasn't been merged?

I'm sure it's just that folks are busy with wrapping up their Q4 before the holidays, but it would be nice to hear something nevertheless.  Thanks!

[2019-12-03 20:57] elihart commented on #247
People are just busy - they are currently working on optimizing the runtime performance of the library, among other things. We will get to it

[2019-12-08 13:30] chanicheetah opened #267 "Unable to implement into kotlin project."

[2019-12-10 12:21] carvaq commented on #202
It works on kotlin with our project. You have to annotate your annotation class with  `@Retention(AnnotationRetention.RUNTIME)` and then create an object like this:
`
 object DeeplinkIntents {
        @JvmStatic
        @CustomDeeplink("/view/{extraId}")
        fun intentForDeepLinkMethod(context: Context): TaskStackBuilder {
            return buildTaskStackForDeeplink(context, MyActivity::class

[2019-12-11 10:38] LachlanMcKee commented on #247
@elihart now that this has been merged, the master README suggests that the feature is live, however it is not. This might be quite confusing. Might be worth either doing a release purely with this change, or reverting the README change for now.

[2019-12-11 22:58] elihart commented on #247
@rossbacher is very close to having a large update available to the library. I'll let him decide how to handle this

[2019-12-18 04:31] rakanugroho commented on #154
if you want to access deeplink from google Chrome or google tabs, you must to use standard template like
`intent://payment?id=100#Intent;scheme=privyid;package=com.grab.android;action=android.intent.action.VIEW;end”`

for detail please check this issue https://developer.chrome.com/multidevice/android/intents

[2019-12-23 11:03] LachlanMcKee commented on #247
@rossbacher now that your PR has been merged in, do you think it would be worthwhile cutting a release?

[2020-01-03 22:24] rossbacher commented on #247
@LachlanMcKee  Sorry we were out here until yesterday. I just released `5.0.0-beta01` please give it a try. We decided to go beta with this as we totally rewrote the matcher (in addition to your changes) and as it is working totally different we don't know if we covered all existing use cases. It is passing all existing tests, but be are trying to be safe with this.

[2020-01-03 22:25] #247 closed

[2020-01-03 22:26] rossbacher commented on #236
Closing after #246 is merged.

[2020-01-03 22:26] #236 closed

[2020-01-03 22:27] rossbacher commented on #267
Can you provide more detail?
The Airbnb app is a Kotlin (and Java) project and we are using the lib.

[2020-01-06 06:10] NStreet8579 opened #271 "Crashing with IllegalStateException"
Hi, I have been facing this issue, with the following log

       at android.app.ActivityThread.callActivityOnStop(ActivityThread.java:4862)
       at android.app.ActivityThread.performStopActivityInner(ActivityThread.java:4832)
       at android.app.ActivityThread.handleStopActivity(ActivityThread.java:4907)
       at android.app.servertransaction.TransactionExecutor.performLifecycleSequence(Tran

[2020-01-06 07:15] NStreet8579 commented on #271
@felipecsl can you help me with this?. i'm stuck from days.

[2020-01-07 17:21] rossbacher commented on #271
@NStreet8579 Which version are you using?

[2020-01-08 04:53] NStreet8579 commented on #271
I'm using 4.1.0

[2020-02-26 20:23] MichaelEvans commented on #257
Would it be possible to make the entire argument the `id`? For example:
[code]

And then parse the `id` for the part you're interested in before the `-something`?

[2020-02-28 13:58] theo744 commented on #257
Yes, it would probably work. The problem is that I already have other links handled successfully with @DeepLink, so I would have to parse all my other links with the global {id}, that's quiet a lot of work...

Do you know what is the matter with {id}-something ? It seems related to the '-' character but I don't know...

Théo

[2020-02-29 18:29] igorkovalchuk opened #278 "Documentation: AppDeepLinkModuleLoader instead of AppDeepLinkModuleRegistry"
DeepLinkDispatch version: 4.1.0

Today in the [documentation](https://github.com/airbnb/DeepLinkDispatch) you have:

[code]

I was confused because I got a compilation error here:

[code]
It can't find the AppDeepLinkModuleRegistry.
I've discovered that I should use a AppDeepLinkModuleLoader (generated class) instead.
Do you have a mistype in the documentation?

Thank you!

[2020-02-29 20:16] rossbacher commented on #278
Possibly it should all be Registries now as we renamed that and made the naming moire clear in 4.0.
Let me check that on Monday and fix if necessary.

[2020-02-29 20:21] rossbacher commented on #278
Also are you sure you are using 4.x of both dependencies the lib and the processor? If you mix them that could also happen.

[2020-03-02 18:27] rossbacher commented on #278
I did check and we don't have any `Loader` code left over. (e.g. see our own sample https://github.com/airbnb/DeepLinkDispatch/blob/master/sample/src/main/java/com/airbnb/deeplinkdispatch/sample/DeepLinkActivity.java#L18).

I'm closing this as you must be using old and or mixed dependencies.

[2020-03-02 18:27] #278 closed

[2020-03-02 18:27] #267 closed

[2020-03-02 18:30] rossbacher commented on #278
Sorry when I said 4.x I meant 5.x.

[2020-03-05 05:32] ismaielsharif opened #279 "cannot find symbol: symbol: class SampleModuleLoader"
**cannot find symbol**
        DeepLinkDelegate deepLinkDelegate = new DeepLinkDelegate(new SampleModuleLoader(), new LibraryDeepLinkModuleLoader());
                                                                     ^
  **symbol:   class SampleModuleLoader**
  location: class DeepLinkActivity

import com.airbnb.deeplinkdispatch.DeepLinkHandler;

@DeepLinkHandler({SampleModule.class, LibraryDeep

[2020-03-05 12:44] linnar commented on #279
The generated classes now end with Registry instead of Loader, so you should import and use  SampleModuleRegistry and LibraryDeepLinkModuleRegistry. I think this should be noted in documentation, I was also confused.

[2020-03-06 02:12] rossbacher commented on #279
the documentation was updated. Can you link me to the part that is confusing?

[2020-03-06 08:47] linnar commented on #279
The documentation is good for new users and the place where I noticed the change, but I think it would be nice to have a mention of the renaming in the changelog or section for upgrading 4.x to 5.x in the readme.

[2020-03-06 16:53] rossbacher commented on #279
https://github.com/airbnb/DeepLinkDispatch/pull/281

[2020-03-07 02:20] ismaielsharif commented on #279
Thanks man. i have already used an alternate way for DeppLinking.

[2020-03-07 02:26] #279 closed

[2020-03-26 17:46] emartynov opened #282 "App is crashing after update from version 4.1 to 5.1"
We have next code in our SplashActivity:

[code]

This code crashes inside of the library when Activity just launched from launcher:

[code]

Do we use library wrongly? Should we check that activity launched with Uri?

[2020-03-31 20:09] #282 closed

[2020-04-04 12:29] chriswiesner opened #284 "Device rotation: how to "consume" deeplink"
Hi,

currently having the problem that the deeplink is handled everytime the activity gets recreated bc. of device rotation (orientation change).

Is there a proposed way of "consuming" the deeplink to not handle it again if the activity gets recreated?

[2020-04-08 15:57] nigelkeirross commented on #258
Hi, I know this is closed, but  I have exactly the same issue with a project entirely in java, but I get the same error message when command line building (on linux) with gradlew
Can you tell me how you solved it? Thanks

[2020-04-08 17:07] rossbacher commented on #258
@nigelkeirross this is on master? Or which version are you using? Can you provide the full stacktrace of the error? (You can do that when building with gradle by adding `--stacktrace` to the command.

[2020-04-08 17:38] nigelkeirross commented on #258
Hi
It has nothing to do with Airbnb, it is another project (xDrip-plus) that I
am trying to build. It has no Kotlin at all, and when I googles the error,
your project came up.
This is why I was trying to see how it was solved.
Thanks
Nigel

On Wed, 8 Apr 2020, 18:07 Andreas Rossbacher, <notifications@github.com>
wrote:

[2020-04-08 18:49] rossbacher commented on #258
@nigelkeirross So you are not using deeplinkdispatch in that project? If not most likely this is not the same error.

Still you would need t get the full stack trace.

[2020-05-04 18:58] kiankrisv opened #285 "Deeplinks cannot be found in registry classes between 4.1 -> 5.1"
I'm upgrading my company's DLD version from 4.1 -> 5.1. Based on your documentation all I needed to do was change any instance of the word `Loader` to `Registry`

I handle deeplinks by calling deepLinkDelegate.dispatchFrom(activity) and several of my integration tests (and actual implementation) have begun to fail. After doing some debugging I've found that entries in the registry that should matc

[2020-05-05 22:23] dobridog opened #286 "Regex wildcard support in 5.x"
After upgrading to version [5.1](https://github.com/airbnb/DeepLinkDispatch/releases/tag/5.1.0) from [4.1](https://github.com/airbnb/DeepLinkDispatch/releases/tag/v4.1.0) our tests indicated that the support for Regex wildcard matching dropped. This is a breaking change for us. Identified related issue #285

The example below should work on v4.1 and match any variation of path segments. Since upgr

[2020-05-06 12:34] condesales commented on #247
@rossbacher
When adding the extra arguments to kapt I still get the following warning:
[code]
Does that mean the incremental processing is not working for the library?
I'm using 5.1.0

[2020-05-14 15:45] thesultanster opened #287 "DeepLink Error: Dee3p link to non-existent method on Production"
Our app links and deeplinks work on a dev build. However once we test a production build, non of the deeplink or applinks work.

We instead get an error that is caught by our `DeepLinkReceiver`

The following error message is logged when trying to launch a deeplink.

### Error Stacktrace
`E/DeepLinkReceiver:15: DeepLink Error: Dee3p link to non-existent method: createExploreIntent `

I suspect thi

[2020-05-19 14:57] Tapchicoma opened #288 "Consider shipping Proguard rules with jar"
I saw https://github.com/airbnb/DeepLinkDispatch/issues/107 issue, but now Android Gradle plugin supports proguard files from `jar` as well: https://developer.android.com/studio/build/shrink-code#configuration-files:

[2020-05-19 15:19] gabrielittner commented on #288
As an example, here is how Moshi generates proguard rules dynamically in it's annotation processor https://github.com/square/moshi/blob/master/kotlin/codegen/src/main/java/com/squareup/moshi/kotlin/codegen/api/ProguardRules.kt

[2020-05-19 22:29] rossbacher commented on #288
Looks like a perfectly fine opportunity to contribute to me. ;-)

[2020-05-28 16:04] Charis1331 commented on #198
This issue still occurs.

[2020-06-12 02:18] kadaluarsa opened #290 "How to launch playstore when the app not exist"
Currently we have firebase deeplink but we tried to use deeplinkdispatch but it can't work side by side with firebase deeplink, what should we do ? because we need to launch playstore when the app not exist.

[2020-06-18 14:25] emartynov commented on #282
Hi people, no release with this fix yet?

[2020-06-18 16:39] rossbacher commented on #282
Not yet, sorry, we are working on a few more fixes. Should be soon though.

[2020-07-02 00:02] rossbacher commented on #282
@emartynov I just published [5.2.0](https://github.com/airbnb/DeepLinkDispatch/releases/tag/5.2.0) with this fix included.

[2020-07-09 10:58] Narinc commented on #285
is there any solution?

[2020-07-09 13:16] Narinc opened #296 "url is detected incorrectly"
We have deeplink like this : [baseurl]://host/bla/bla/more_than
And we have other variants of it :
[baseurl]://host/bla/bla/more_than/blabla1
[baseurl]://host/bla/bla/more_than/blabla2
...

Other variants working fine but first url ([baseurl]://host/bla/bla/more_than) doesn't work.
Maybe it is detecting like base url. It's version 5.1.0. And it isn't work fo 5.2.0, too.

[2020-07-09 16:56] rossbacher commented on #296
So you are saying it is finding [baseurl]://host/bla/bla/more_than but not [baseurl]://host/bla/bla/more_than/blabla1 ? Is that correct? Any way you can write a small demo app that repos this case?

[2020-07-09 16:59] rossbacher commented on #285
Can you give examples of what isn't working anymore?

[2020-07-09 17:07] rossbacher commented on #286
Regex path matching support was never a documented features and only worked because of an implementation detail. With the implementation changed this is not supported and there is no plan to support it (as I said it never was a feature).

You can submit a feature request but no idea when we could get to that as we don't use those features.

[2020-07-27 01:26] lawloretienne opened #298 "Account for Login/Authentication"
If I'm not mistaken the Readme shows examples of how to use this library but doesn't show how to handle the situation where a user is logged out tries to open a deeplink. Where should that logic live that will check if a user is logged in or not? Then after a user signs in , will the deeplink be deferred, will the user be taken to the location of the original deeplink?

Some sample code of how to

[2020-08-01 00:44] rossbacher commented on #298
The situation of what to do when a user is logged out (and opens a deeplink) has nothing to do with this lib, as it would be the same if you would do the deeplinking without this lib.

Usually what you do is provide a central spot where you check if the deeplink in question can be navigated to without being logged in. In our example code this could be in `onCreate` of the `DeepLinkActivity`

But a

[2020-08-11 22:19] sanginovs commented on #103
can someone update Readme and mention that we need to add `kapt` for `kotlin`? thanks
I was stuck for couple hours because of this issue.

[2020-08-13 23:04] tinder-yisongwu opened #299 "Unit Test for DeepLink URI with Method Annotations"
Hey team,

We have a unit test question for the Method Annotations of DeepLinkDispatch library. We would like properly unit test the case that `a method is properly annotate with @DeepLink of "https://example.com" `,  such as the example below:

[code]
In order to do that, we need to use reflection to grab the method annotation, but currently in the DeepLinkDispatch Library, the DeepLink.jave anno

[2020-09-01 01:59] colinrtwhite opened #300 "Debug text is printed when building"
Hi, it looks like some debug code may have made it into the 5.2 release. [Here's the line.](https://github.com/airbnb/DeepLinkDispatch/blob/6b145baebdd5c2c084a583e60395ff92fe7761d8/deeplinkdispatch-base/src/main/java/com/airbnb/deeplinkdispatch/UrlTree.kt#L99) When building we see `STRINGS_LOG 303 303 303` printed. If it's expected, feel free to close this issue!

[2020-10-29 17:51] ivorsliide commented on #217
Hello guys I been having this issue for the past year hopping it will get into the code, how is this going? how can I help/contribute to make this change happens?

[2020-11-04 19:04] ikermart opened #302 "Migration to androidX"
Previous situation, all the deeplinks working
Deeplink Version: 3.1.1
My project using Android Support : v7

After upgrading my entire project to androidX sometimes crashed, see below:
Deeplink Version: 5.2.0
My project now using androidX

Started to throw this crashes:

Exception: java.lang.IllegalArgumentException
android.os.Parcel.nativeAppendFrom (Parcel.java)
android.content.Intent.getExtras

[2020-11-04 19:34] ikermart commented on #271
This happens when you are using AppCompatActivity in your DeepLinkDispatchActivity, use Activity instead.

[2020-12-04 00:08] cvillaseca opened #303 "Not supported valid URIs for deeplinks with same path and different number of parameters"
Hi,

Since we updated the  library to version 5.X some deeplinks like `myapp://vehicle/{vehicleId}` have stopped working. The problem is that with the new version it doesn’t handle multiple links with the same structure, it only handles the first one is created in the registry class. For example:

[code]

This is considered a valid deeplink

[code]

But this deeplink won’t be valid. You can check

[2020-12-04 22:47] #300 closed

[2021-01-06 00:51] rossbacher commented on #303
I'll have a look at that. I don't think we have a test case for this and thus it might have been missed.

[2021-01-06 18:26] stari4ek commented on #303
There is a chance that incremental build is involved.
I had same issue. Bunch of "foo://navigate/*" declared, but only one was added to registry.
Forcing rebuild the project solved the issue

[2021-01-11 07:14] hashlin opened #304 "[Question] Conditional choice between Intent and TaskStackBuilder"
I come up with a question as I'm not sure if my usecase is supported or not.

### Usecase
- If deeplink comes from within the app (i.e. deeplink navigation within same app ), launch desired activity without touching current backstack.
- If deeplink comes from external (i.e. from social apps, notifications etc), launch desired activity with creating proper backstack.

### What I looked for
I was se

[2021-02-22 21:49] elihart opened #307 "Support KSP"
https://github.com/google/ksp

[2021-03-03 16:05] yolapop commented on #287
How did you declare `HeadspaceAppLink`?

If you are using Kotlin, don't forget to set the retention to BINARY

[code]

[2021-03-17 23:21] tinder-yisongwu commented on #299
Hey team, what would be the suggest way to unit test @DeepLink("myScheme://testUri") given it is annotated with @retention(RetentionPolicy.CLASS)?

[2021-03-18 15:56] rossbacher commented on #299
The reason it is annotate the way it is is that after complication the annotation is only needed for byte code analyzers and processing tools (e.g. like Proguard/R8 or Dexguard) as we need to keep those methods as they are never directly called and DLD is using reflection to call them after a match.
They are not required at runtime at all, so they are just useless ballast that can be deleted.

How

[2021-03-18 17:47] #303 closed

[2021-03-19 19:55] rossbacher commented on #303
Sorry it took that long but this is fixed now and in release https://github.com/airbnb/DeepLinkDispatch/releases/tag/5.3.0.

[2021-03-19 19:59] rossbacher commented on #302
I'd debug if there is anything funky in the intent that is getting processed here. From the code it looks like the a simple `.getExtras()` call on the incoming intent is causing this and I'm pretty sure that is not caused by this lib in any way.

[2021-03-19 20:00] rossbacher commented on #299
This is resolved with release https://github.com/airbnb/DeepLinkDispatch/releases/tag/5.3.0

[2021-03-19 20:00] #299 closed

[2021-03-19 20:01] #286 closed

[2021-04-05 17:53] cvillaseca commented on #303
Thank you for the fix @rossbacher 🙏

[2021-04-18 10:23] onuryurtturk opened #311 "An annotation argument must be a compile-time constant"

[2021-05-11 16:48] P3t3rP3r3z commented on #311
Did you ever figure this out?

[2021-05-14 10:40] onuryurtturk commented on #311
nope I couldn't

[2021-05-19 21:56] rossbacher commented on #311
You did not provide an example but I'm guessing you are using non compile time constants in the annotations.

e.g.
[code]

will not work as every parameter of any annotation as to to be a constant at compile time.

[2021-05-27 18:46] pprraasshhaanntthh opened #319 "Deep linking integration is Fails with error"
Note: Output path not specified, DeepLink doc is not going to be generated.error: Malformed Deep Link URL www.example.comNote: Output file is null, DeepLink doc not generated.Note: Output file is null, DeepLink doc not generated.[WARN] Incremental annotation processing requested, but support is disabled because the following processors are not incremental: com.airbnb.deeplinkdispatch.DeepLinkProce

[2021-05-27 20:38] #319 closed

[2021-06-10 10:13] colinrtwhite opened #322 "Binary incompatible API change in 5.4.0."
Just a heads up, but it looks like 5.4.0 introduced a binary incompatible change [here](https://github.com/airbnb/DeepLinkDispatch/pull/314/files#diff-74f739aeeba9c144f72ed103196701f8b0c9cf687d08820a1187fd00af509ca3R20). Probably worth calling out in the release notes so folks aren't taken by surprise.

[2021-07-06 06:41] RavioliWonton opened #327 "Support for AndroidX Navigation"
This library is a marvelous solution for avoiding writing boilerplate code to handle DeepLink (and also thanks you great work), but I wonder do you have plan to support [AndroidX Navigation](https://developer.android.com/jetpack/androidx/releases/navigation) library to directly support deeplinking into a Fragment or a Dialog? Nowadays DeepLinkDispatch only support navigate to Activity or launch de

[2021-07-30 00:09] colinrtwhite commented on #322
Closing this since 6.0 is out and it doesn't seem like this will be addressed.

[2021-07-30 00:09] #322 closed

[2021-08-19 18:18] elihart commented on #307
Added with https://github.com/airbnb/DeepLinkDispatch/pull/323

[2021-08-19 18:18] #307 closed

[2021-09-15 15:22] kunal26das opened #333 "Pipe(|) separated custom annotators not recognised"
Malformed string 'x.y.z.DeepLink|x.y.z.PublicDeepLink' for a supported annotation type returned by processor 'org.jetbrains.kotlin.kapt3.base.ProcessorWrapper'error: Error creating fileNote: No deep link, DeepLink doc not generated.

[2021-09-20 17:51] JasonCromer opened #334 "Allow Serializable/Parcelable through intents"
Currently, serializable/parcelable data added as extras are then passed through DLD as strings.
Are there any plans to support custom objects for passing through intents in DLD?

[2021-09-24 20:44] rossbacher commented on #327
@RavioliWonton did you take a look at the work we are currently doing with adding the concept of DeepLinkHandlers? I think this could work if you just write an AndroidX Navigation DeepLinkHandler. Take a look and I'm open for submissions.

[2021-09-24 20:44] rossbacher commented on #334
How are you passing it through?

[2021-09-27 17:38] JasonCromer commented on #334
@rossbacher just via `intent.putExtra()`.
It seems like DLD might converting non-primitive types to json strings, since the serializable types I'm passing through are only deserializable as strings.

[2021-10-07 23:18] rossbacher commented on #334
Sorry @JasonCromer I did not yet get to looking into this, but looks like you figured it out, but just for me to understand, what did not work and what is working now? Before you were adding it as extras in the function/method that is annotated that create the Intent and now?

[2021-10-08 17:11] rossbacher commented on #334
Good, thank you for the explanation. I wanted to reply that we don't do anything with the extras to my knowledge and they should just pass through but I wanted to make a full pass to make sure I was right. All good then! Ping me if you have any other issues.

[2021-10-08 17:16] JasonCromer commented on #334
Awesome, thanks Andreas 👍

[2021-11-07 00:10] faustoct opened #339 "Deeplink for search accommodations in a specific place"
Hi guys. I'm looking for a deeplink specification to integrate in my app. I need to open the airbnb looking for accommodation in a specific place. Is there a way to do it ?

[2022-01-17 17:21] allco commented on #247
I'm using 5.4.3
And having this:

[code]

when apply the following to a gradle subproject:

[code]

[2022-02-01 20:02] zeeshan5422 opened #345 "DeepLinkHandler<T> interface is not available in latest version i.e. 5.4.3"
I want to handle the deep links as in the sample module, but unfortunately below interface is not available inside the library.

package com.airbnb.deeplinkdispatch.handler

interface DeepLinkHandler<T> {
    fun handleDeepLink(context: Context, deepLinkArgs: T)
}

Please correct me if I am wrong, but as of now my understanding it is impossible to handle deeplinks apart from activity classes.

[2022-03-15 23:54] gpartida opened #348 "Add @DeepLinkModuleRegistry marker annotation to generated registries"
Would it be possible to add a marker annotation (suggesting @DeepLinkModuleRegistry) to the registry types which are generated from @DeepLinkModule annotated types (I'd be happy to help contribute the change)? My use case is I want to be able to aggregate instances of the generated registries from multiple gradle modules into a single Dagger Multibinding so they can be injected into my DeepLinkDel

[2022-06-24 11:50] rciovati opened #350 "Performance issue in chunkOnModifiedUtf8ByteSize"
While debugging some built time issues in our codebase I noticed that `DeepLinkProcessor` takes a suspiciously high amount of time (in our case 3x than Dagger). I grabbed a trace with YourKit and, if I'm reading it correctly, the processor is spending most of its time in `chunkOnModifiedUtf8ByteSize`.

![Screen Shot 2022-06-24 at 13 38 19](https://user-images.githubusercontent.com/245528/175527765

[2022-07-04 02:51] masonHong opened #351 "queryParameterValue must not be null"
I was using version **5.4.3**, but when I upgraded to version **6.1.0**, a crash occurred, so I checked it.

[code]

When I reproduced it, a crash occurs when `Uri` of the pattern below is used.

- myScheme://host/path1/path2?query1&query2
- myScheme://host/path1/path2?

Uri have a query with no value or with `?` but no query.

Can you fix the problem?

[2022-08-27 16:56] mikebgrep opened #354 "Help for using with Java"
I add the dependencies and I annotate the Activity like in first example, but it's not found the link any help how I need to proceed with implementation in Java project.
It is only this place I need to set the link` @DeepLink("https://www.example.com/{id}")`

`Intent intent = getIntent();
        if (intent.getBooleanExtra(DeepLink.IS_DEEP_LINK, false)) {
            Bundle parameters = intent.get

[2022-08-28 09:24] mikebgrep commented on #304
@hashlin  You can help me to set up in Java project I try but is not open the deep link from the annotation in the Activity

[2022-11-03 21:49] jiusongtripactions opened #356 "DeepLinkIntentsUtil not found exception"
Hi Airbnb:
I am getting this crash while taps on push notification:
Fatal Exception: java.lang.IllegalStateException: Deeplink class com.xxx.xxx.deeplink.utils.DeepLinkIntentsUtil not found. If you are using Proguard/R8/Dexguard please consult README.md for correct configuration.

Is this something related to our proguard-rules.pro configuration?
Like the `-keepclasseswithmembers class * `?

Looki

[2022-11-29 04:25] D000L opened #358 "Can i use uri-fragment ( # ) field access directly from bundle"
I want use fragment field ( # ) access directly from bundle

current can access like this.
[code]

but i want access at bundle
like this
[code]

do have a support plans?
if already supported it please tell me how to use

Thanks